In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
dataPayment = 'Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)

In [72]:
new_payroll = payroll[['Fiscal Year', 'Fiscal Quarter', 'Fiscal Period', 'Job Code', 'Job Title', 'Base Pay', 'Position ID', 'Employee Identifier', 'Original Hire Date']]
new_payroll.head(2)

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,Assistant State's Attorney,20088.0,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,Assistant State's Attorney,23436.0,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [73]:
_hired = payroll["Original Hire Date"]
_hired = _hired.str.replace("/", "")
_hired = _hired.str.slice_replace(0, 4, "")
_fiscal_year = payroll["Fiscal Year"]


_hired = np.array(_hired.astype('int'))
_fiscal_year = np.array(_fiscal_year.astype('int'))
work_year = _fiscal_year - _hired
work_year

array([11, 11, 11, ..., 33,  2,  7])

In [74]:
new_payroll['Working Year'] = work_year
new_payroll

C:\Users\lenovo\AppData\Local\Temp\ipykernel_26876\907786583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_payroll['Working Year'] = work_year

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
0,2016,1,2016Q1,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
1,2016,2,2016Q2,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
2,2016,3,2016Q3,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
3,2016,4,2016Q4,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
4,2017,1,2017Q1,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,12
...,...,...,...,...,...,...,...,...,...,...
234294,2018,2,2018Q2,1172,Assistant State's Attorney,19001.95,9510048,ac4574b1-d301-44a7-a220-d3aafb5e9ec3,01/28/2013,5
234295,2018,2,2018Q2,2452,Operating Engineer II,27098.40,9502511,9839f658-99a7-4b0c-a338-411d2fc2e8c9,01/05/1988,30
234296,2018,1,2018Q1,1567,Adult Probation Officer- PSB,19217.40,9512421,709a5fed-c9a2-4fe6-9d4d-439bd389b5b8,07/01/1985,33
234297,2018,1,2018Q1,5296,Medical Assistant,9698.80,9519643,8967b2f6-c6eb-40b6-836b-f52c6954325c,08/08/2016,2
234298,2018,2,2018Q2,48,Administrative Assistant III,12872.44,1400088,286c35d5-ca24-4ea7-bb7f-39dff92f78a4,06/06/2011,7

In [79]:
new_payroll['Base Pay'] = new_payroll['Base Pay'].fillna(0)
new_payroll

C:\Users\lenovo\AppData\Local\Temp\ipykernel_26876\1226989552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_payroll['Base Pay'] = new_payroll['Base Pay'].fillna(0)

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
0,2016,1,2016Q1,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
1,2016,2,2016Q2,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
2,2016,3,2016Q3,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
3,2016,4,2016Q4,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
4,2017,1,2017Q1,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,12
...,...,...,...,...,...,...,...,...,...,...
234294,2018,2,2018Q2,1172,Assistant State's Attorney,19001.95,9510048,ac4574b1-d301-44a7-a220-d3aafb5e9ec3,01/28/2013,5
234295,2018,2,2018Q2,2452,Operating Engineer II,27098.40,9502511,9839f658-99a7-4b0c-a338-411d2fc2e8c9,01/05/1988,30
234296,2018,1,2018Q1,1567,Adult Probation Officer- PSB,19217.40,9512421,709a5fed-c9a2-4fe6-9d4d-439bd389b5b8,07/01/1985,33
234297,2018,1,2018Q1,5296,Medical Assistant,9698.80,9519643,8967b2f6-c6eb-40b6-836b-f52c6954325c,08/08/2016,2
234298,2018,2,2018Q2,48,Administrative Assistant III,12872.44,1400088,286c35d5-ca24-4ea7-bb7f-39dff92f78a4,06/06/2011,7

In [80]:
new_payroll.isnull().sum()

Fiscal Year            0
Fiscal Quarter         0
Fiscal Period          0
Job Code               0
Job Title              0
Base Pay               0
Position ID            0
Employee Identifier    0
Original Hire Date     0
Working Year           0
dtype: int64

In [77]:
_index = new_payroll['Job Code'].unique()

_ids = []

for _id in _index:
    counts = len(new_payroll.groupby(['Job Code']).get_group(_id))
    if counts > 1000:
        _ids.append(_id)
        
print(len(_ids))

38

In [78]:
for val in _ids:
    new_df = new_payroll[new_payroll['Job Code'] == val]
    print(f"DataFrame for job code {val}:")
    display(new_df)

DataFrame for job code 1172:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
0,2016,1,2016Q1,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
1,2016,2,2016Q2,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
2,2016,3,2016Q3,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
3,2016,4,2016Q4,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,11
4,2017,1,2017Q1,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005,12
...,...,...,...,...,...,...,...,...,...,...
234141,2018,1,2018Q1,1172,Assistant State's Attorney,26268.82,9510272,fb4194e5-0b14-4019-b0eb-7eae796c8cc4,08/21/1997,21
234146,2018,2,2018Q2,1172,Assistant State's Attorney,28039.76,9509780,4fca97bc-ed5d-4ab9-b130-d0587d222594,03/29/1993,25
234177,2018,1,2018Q1,1172,Assistant State's Attorney,23247.67,9509854,21703b65-7357-45b0-a256-cc06393750d5,08/09/2004,14
234179,2018,2,2018Q2,1172,Assistant State's Attorney,25252.64,9509965,c3b70364-77a0-4300-be9f-11bf5e869c87,02/14/2000,18
234294,2018,2,2018Q2,1172,Assistant State's Attorney,19001.95,9510048,ac4574b1-d301-44a7-a220-d3aafb5e9ec3,01/28/2013,5

DataFrame for job code 1942:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
33,2016,1,2016Q1,1942,Clinical Nurse II,21083.24,9524421,2867abca-a545-4d79-95cb-6edadbf77da6,01/14/2002,14
34,2016,2,2016Q2,1942,Clinical Nurse II,25628.02,9524421,2867abca-a545-4d79-95cb-6edadbf77da6,01/14/2002,14
35,2016,3,2016Q3,1942,Clinical Nurse II,21766.26,9524421,2867abca-a545-4d79-95cb-6edadbf77da6,01/14/2002,14
36,2016,4,2016Q4,1942,Clinical Nurse II,25393.88,9524421,2867abca-a545-4d79-95cb-6edadbf77da6,01/14/2002,14
37,2017,1,2017Q1,1942,Clinical Nurse II,22526.35,9524421,2867abca-a545-4d79-95cb-6edadbf77da6,01/14/2002,15
...,...,...,...,...,...,...,...,...,...,...
233214,2018,2,2018Q2,1942,Clinical Nurse II,10228.30,903913,dca67a2e-fd4d-4a95-851b-30234b2d19cd,08/08/1983,35
233233,2018,1,2018Q1,1942,Clinical Nurse II,31780.52,1803050,6c4ed6b7-a075-41b9-a7ac-d3eaf1a5524c,09/20/1993,25
233538,2018,1,2018Q1,1942,Clinical Nurse II,23747.78,9523863,98299a01-7142-49bd-8eba-3e1d5df742ca,06/16/2014,4
233562,2018,1,2018Q1,1942,Clinical Nurse II,20854.61,9524862,aba441eb-dbd4-46b2-92d7-b563fb76dbda,06/21/1999,19
234182,2018,2,2018Q2,1942,Clinical Nurse II,46397.88,9524309,f7dff4e8-4531-42bd-9294-5d4b156d6631,07/17/2000,18

DataFrame for job code 1360:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
86,2016,1,2016Q1,1360,Correctional Officer,13558.94,800096,433c0c09-b58e-45c0-96ee-1cf5c315cf5f,06/27/2011,5
87,2016,2,2016Q2,1360,Correctional Officer,11336.02,800096,433c0c09-b58e-45c0-96ee-1cf5c315cf5f,06/27/2011,5
88,2016,3,2016Q3,1360,Correctional Officer,13416.31,800096,433c0c09-b58e-45c0-96ee-1cf5c315cf5f,06/27/2011,5
89,2016,4,2016Q4,1360,Correctional Officer,13448.90,800096,433c0c09-b58e-45c0-96ee-1cf5c315cf5f,06/27/2011,5
90,2017,1,2017Q1,1360,Correctional Officer,14306.48,800096,433c0c09-b58e-45c0-96ee-1cf5c315cf5f,06/27/2011,6
...,...,...,...,...,...,...,...,...,...,...
234253,2018,1,2018Q1,1360,Correctional Officer,16050.94,700228,1a010a76-acba-409b-a815-f10aa76fd3f8,04/16/2007,11
234255,2018,2,2018Q2,1360,Correctional Officer,11623.00,1804700,b7883141-636a-4955-994a-8c674df31d47,06/12/2017,1
234263,2018,1,2018Q1,1360,Correctional Officer,11316.00,1804488,37730c55-77f5-4c8d-be83-e95bdd95d614,03/02/1999,19
234271,2018,2,2018Q2,1360,Correctional Officer,21790.50,9508870,c37b7341-c4f4-464b-ba6b-d51fac46a2e8,03/21/1994,24
234289,2018,2,2018Q2,1360,Correctional Officer,19155.30,500206,ec4bc4b8-24a1-43a9-8e72-fb2bc8212ea9,07/24/2006,12

DataFrame for job code 2051:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
96,2016,1,2016Q1,2051,Pharmacy Tech ARNTE,11668.32,9519962,3fffb262-6788-4adb-a0bc-a3c7ef4680c4,03/07/1994,22
97,2016,2,2016Q2,2051,Pharmacy Tech ARNTE,13742.40,9519962,3fffb262-6788-4adb-a0bc-a3c7ef4680c4,03/07/1994,22
98,2016,3,2016Q3,2051,Pharmacy Tech ARNTE,12444.47,9519962,3fffb262-6788-4adb-a0bc-a3c7ef4680c4,03/07/1994,22
99,2016,4,2016Q4,2051,Pharmacy Tech ARNTE,14518.65,9519962,3fffb262-6788-4adb-a0bc-a3c7ef4680c4,03/07/1994,22
100,2017,1,2017Q1,2051,Pharmacy Tech ARNTE,12677.61,9519962,3fffb262-6788-4adb-a0bc-a3c7ef4680c4,03/07/1994,23
...,...,...,...,...,...,...,...,...,...,...
233532,2018,2,2018Q2,2051,Pharmacy Tech ARNTE,15073.10,9521419,3c426783-942b-47af-ac28-c411960be782,03/15/2010,8
233555,2018,1,2018Q1,2051,Pharmacy Tech ARNTE,2379.41,9521412,08a7fa40-5332-48b6-bc4e-35f2a9312def,10/20/2003,15
233583,2018,2,2018Q2,2051,Pharmacy Tech ARNTE,11883.28,903716,a5688cd5-cca6-4c89-b88f-ab3ed32712b8,08/22/2016,2
234269,2018,2,2018Q2,2051,Pharmacy Tech ARNTE,18052.32,9521468,4b2fb26b-b463-4ce2-bfe1-8cff9cc3ecca,03/21/2005,13
234291,2018,2,2018Q2,2051,Pharmacy Tech ARNTE,13964.56,903735,83c847da-1d2a-4a5c-b057-8cc02b2da114,11/17/2014,4

DataFrame for job code 48:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
104,2016,1,2016Q1,48,Administrative Assistant III,14148.39,9519670,e7eb9107-7d15-41b8-9ddc-20fdcba447f9,08/16/1993,23
105,2016,2,2016Q2,48,Administrative Assistant III,16560.58,9519670,e7eb9107-7d15-41b8-9ddc-20fdcba447f9,08/16/1993,23
106,2016,3,2016Q3,48,Administrative Assistant III,15290.79,9519670,e7eb9107-7d15-41b8-9ddc-20fdcba447f9,08/16/1993,23
107,2016,4,2016Q4,48,Administrative Assistant III,18095.00,9519670,e7eb9107-7d15-41b8-9ddc-20fdcba447f9,08/16/1993,23
108,2017,1,2017Q1,48,Administrative Assistant III,15800.50,9519670,e7eb9107-7d15-41b8-9ddc-20fdcba447f9,08/16/1993,24
...,...,...,...,...,...,...,...,...,...,...
234080,2018,2,2018Q2,48,Administrative Assistant III,5594.00,265505,eacc9ab8-ac9c-4570-883f-ade3185dc1d5,07/27/2004,14
234125,2018,2,2018Q2,48,Administrative Assistant III,18226.37,9501311,035badbd-dcd5-46c4-b6bc-f21fa3e9319f,06/15/1999,19
234200,2018,2,2018Q2,48,Administrative Assistant III,2493.92,1300147,dbbf14ff-4bba-4dcf-8869-82e8f41974ec,07/10/2017,1
234259,2018,1,2018Q1,48,Administrative Assistant III,17060.50,9513388,6ab6e3e3-8a44-4d22-8439-fee2ea9f9db6,08/30/1993,25
234298,2018,2,2018Q2,48,Administrative Assistant III,12872.44,1400088,286c35d5-ca24-4ea7-bb7f-39dff92f78a4,06/06/2011,7

DataFrame for job code 1794:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
112,2016,1,2016Q1,1794,Post Graduate Level Physician,12686.20,1500564,df028c8b-1803-4713-981b-f0b03edfa2d5,09/08/2015,1
113,2016,2,2016Q2,1794,Post Graduate Level Physician,14849.09,1500564,df028c8b-1803-4713-981b-f0b03edfa2d5,09/08/2015,1
114,2016,3,2016Q3,1794,Post Graduate Level Physician,12727.80,1500564,df028c8b-1803-4713-981b-f0b03edfa2d5,09/08/2015,1
115,2016,4,2016Q4,1794,Post Graduate Level Physician,15375.58,1500564,df028c8b-1803-4713-981b-f0b03edfa2d5,09/08/2015,1
116,2017,1,2017Q1,1794,Post Graduate Level Physician,13609.61,1500564,df028c8b-1803-4713-981b-f0b03edfa2d5,09/08/2015,2
...,...,...,...,...,...,...,...,...,...,...
234186,2018,1,2018Q1,1794,Post Graduate Level Physician,21271.38,1700715,1b753c95-9e40-43ff-a45e-aa8a54c0c0e8,07/01/2017,1
234187,2018,2,2018Q2,1794,Post Graduate Level Physician,17853.29,1500469,b654e58a-1dd4-4f77-b5c6-5f0d2c716234,07/01/2015,3
234191,2018,1,2018Q1,1794,Post Graduate Level Physician,12882.16,1700712,197413c5-0c99-4c08-893b-2700987769dd,07/07/2017,1
234258,2018,2,2018Q2,1794,Post Graduate Level Physician,14978.14,1700662,81467f10-43e9-4bb8-b726-f4598bc890a6,07/01/2017,1
234272,2018,1,2018Q1,1794,Post Graduate Level Physician,11987.16,1700639,e744e147-4e80-4ab5-810c-c5464260b109,07/01/2017,1

DataFrame for job code 50:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
138,2017,1,2017Q1,50,Administrative Assistant IV,14482.42,9501320,0e33773a-e20a-4e93-8163-9ec02a1f6dfa,08/04/1987,30
140,2017,2,2017Q2,50,Administrative Assistant IV,20275.39,9501320,0e33773a-e20a-4e93-8163-9ec02a1f6dfa,08/04/1987,30
142,2017,3,2017Q3,50,Administrative Assistant IV,17378.89,9501320,0e33773a-e20a-4e93-8163-9ec02a1f6dfa,08/04/1987,30
144,2017,4,2017Q4,50,Administrative Assistant IV,20275.39,9501320,0e33773a-e20a-4e93-8163-9ec02a1f6dfa,08/04/1987,30
527,2016,1,2016Q1,50,Administrative Assistant IV,17911.25,9501745,9132a67b-4091-488d-a860-c2ca8fa66283,01/07/1993,23
...,...,...,...,...,...,...,...,...,...,...
233650,2018,2,2018Q2,50,Administrative Assistant IV,22893.48,9510533,34e9d1db-29e3-400c-8df1-73dc5fa7bba9,06/14/1993,25
233695,2018,2,2018Q2,50,Administrative Assistant IV,13730.61,9501206,fb6606f4-518e-44a5-82cb-f9f5a190ee9e,03/07/2017,1
233905,2018,2,2018Q2,50,Administrative Assistant IV,23464.83,9512088,45554975-6d8b-47e4-a0a3-dfbf8c62b4a5,10/17/1983,35
233968,2018,2,2018Q2,50,Administrative Assistant IV,19422.00,300060,88ffe175-34ae-4aca-9e14-41af33654956,02/19/2013,5
234046,2018,1,2018Q1,50,Administrative Assistant IV,5673.20,9509309,bc89084b-f1c6-4f4c-98f4-a3b2e43982b4,08/07/2000,18

DataFrame for job code 1941:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
156,2016,1,2016Q1,1941,Clinical Nurse I,13738.90,903961,8a12a052-faeb-47a3-992a-21824135ceeb,06/16/2014,2
158,2016,2,2016Q2,1941,Clinical Nurse I,16489.38,903961,8a12a052-faeb-47a3-992a-21824135ceeb,06/16/2014,2
160,2016,3,2016Q3,1941,Clinical Nurse I,14040.37,903961,8a12a052-faeb-47a3-992a-21824135ceeb,06/16/2014,2
162,2016,4,2016Q4,1941,Clinical Nurse I,15939.73,903961,8a12a052-faeb-47a3-992a-21824135ceeb,06/16/2014,2
164,2017,1,2017Q1,1941,Clinical Nurse I,15005.37,903961,8a12a052-faeb-47a3-992a-21824135ceeb,06/16/2014,3
...,...,...,...,...,...,...,...,...,...,...
234204,2018,1,2018Q1,1941,Clinical Nurse I,15077.40,9519586,e7d49ff0-b5da-4fc4-8fb6-14bcaaa96809,01/11/1993,25
234213,2018,1,2018Q1,1941,Clinical Nurse I,25441.83,800766,689cdd1d-c03d-4c99-b360-fcc93aba8f31,03/02/2009,9
234250,2018,2,2018Q2,1941,Clinical Nurse I,7493.85,9509520,10725baa-fb57-486d-bcbc-faa49a3cb656,10/11/1994,24
234276,2018,1,2018Q1,1941,Clinical Nurse I,32028.38,9524829,1c0af6d9-58eb-480b-b29e-c6e73d147d9b,01/04/1999,19
234292,2018,2,2018Q2,1941,Clinical Nurse I,18680.10,1200381,69d7b45e-7683-493d-b82c-706c59b568f7,03/25/2013,5

DataFrame for job code 51:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
172,2016,1,2016Q1,51,Administrative Assistant V,21403.93,9520965,fa09a694-559e-4ad1-9cc6-fd79790d680e,03/02/1987,29
173,2016,2,2016Q2,51,Administrative Assistant V,17895.05,9520965,fa09a694-559e-4ad1-9cc6-fd79790d680e,03/02/1987,29
2702,2016,1,2016Q1,51,Administrative Assistant V,17296.32,9510544,bb90fecb-cd1c-4435-bbfe-2be02fe511b9,07/19/2010,6
2729,2016,2,2016Q2,51,Administrative Assistant V,20179.05,9510544,bb90fecb-cd1c-4435-bbfe-2be02fe511b9,07/19/2010,6
2754,2016,3,2016Q3,51,Administrative Assistant V,17584.72,9510544,bb90fecb-cd1c-4435-bbfe-2be02fe511b9,07/19/2010,6
...,...,...,...,...,...,...,...,...,...,...
232665,2018,1,2018Q1,51,Administrative Assistant V,6562.23,1800162,327c9975-ec08-4a0d-bab2-b5e584913582,02/19/2002,16
232809,2018,2,2018Q2,51,Administrative Assistant V,3114.60,1000880,303b6389-a383-49f6-826c-73fe6d1c14cb,12/17/2001,17
232899,2018,1,2018Q1,51,Administrative Assistant V,23634.00,9511615,71bb8979-674c-4c90-8d6a-fd255c15057e,06/01/1990,28
233313,2018,1,2018Q1,51,Administrative Assistant V,7054.83,9823215,56941b3c-713d-4530-ac10-56db816dc04d,04/26/1993,25
233694,2018,2,2018Q2,51,Administrative Assistant V,7369.02,9521951,720136b1-c119-4d4d-b7d3-ca479d710192,03/01/1999,19

DataFrame for job code 1328:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
174,2016,1,2016Q1,1328,County Police Officer,16794.23,9505498,1617a410-6aae-48a5-8f5e-7fabc6d797bb,04/04/2005,11
175,2016,2,2016Q2,1328,County Police Officer,19593.28,9505498,1617a410-6aae-48a5-8f5e-7fabc6d797bb,04/04/2005,11
176,2016,3,2016Q3,1328,County Police Officer,17539.52,9505498,1617a410-6aae-48a5-8f5e-7fabc6d797bb,04/04/2005,11
177,2016,4,2016Q4,1328,County Police Officer,21305.04,9505498,1617a410-6aae-48a5-8f5e-7fabc6d797bb,04/04/2005,11
178,2017,1,2017Q1,1328,County Police Officer,19078.40,9505498,1617a410-6aae-48a5-8f5e-7fabc6d797bb,04/04/2005,12
...,...,...,...,...,...,...,...,...,...,...
234128,2018,2,2018Q2,1328,County Police Officer,23336.29,9505029,47e1c642-ec28-4805-a632-bafbd8cb1de5,11/26/2007,11
234157,2018,2,2018Q2,1328,County Police Officer,26041.43,9505441,b4705a64-39a0-4615-8ca2-2c3542a29bc2,11/04/1991,27
234248,2018,2,2018Q2,1328,County Police Officer,22827.66,9505174,9466edb3-d047-4e48-b928-19a1c3ec1276,01/23/2006,12
234257,2018,1,2018Q1,1328,County Police Officer,22491.58,9505263,62d16a01-9477-483e-b10b-ecef931a5a41,08/07/1995,23
234293,2018,1,2018Q1,1328,County Police Officer,19187.56,9505343,79c72166-d180-4e3d-a58a-89885096b608,02/01/2010,8

DataFrame for job code 1570:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
210,2016,1,2016Q1,1570,Probation Officer II- PSB,16758.04,153802,5f2c4793-022b-40a3-80d0-f1ac3ce43bb4,04/09/2001,15
212,2016,2,2016Q2,1570,Probation Officer II- PSB,19615.14,153802,5f2c4793-022b-40a3-80d0-f1ac3ce43bb4,04/09/2001,15
214,2016,3,2016Q3,1570,Probation Officer II- PSB,16813.00,153802,5f2c4793-022b-40a3-80d0-f1ac3ce43bb4,04/09/2001,15
216,2016,4,2016Q4,1570,Probation Officer II- PSB,20467.49,153802,5f2c4793-022b-40a3-80d0-f1ac3ce43bb4,04/09/2001,15
218,2017,1,2017Q1,1570,Probation Officer II- PSB,17996.68,153802,5f2c4793-022b-40a3-80d0-f1ac3ce43bb4,04/09/2001,16
...,...,...,...,...,...,...,...,...,...,...
233858,2018,1,2018Q1,1570,Probation Officer II- PSB,19217.40,9514650,9d2d435d-cd64-4aed-a3cc-a8cabb409144,06/04/1979,39
234126,2018,2,2018Q2,1570,Probation Officer II- PSB,20824.49,800173,e5705a5d-c3ec-49d8-9fe3-3d6f124ac692,08/04/2008,10
234140,2018,1,2018Q1,1570,Probation Officer II- PSB,6405.80,9514655,c54eaf8e-3db8-4167-a89a-34bdf8c3b727,06/14/1989,29
234214,2018,2,2018Q2,1570,Probation Officer II- PSB,22791.18,9918426,d1c27241-fd2a-462f-b678-56deb6889397,02/16/1999,19
234225,2018,1,2018Q1,1570,Probation Officer II- PSB,13649.92,9514924,f01aa1fa-b791-4a57-b082-1de8559d5fba,03/26/1984,34

DataFrame for job code 1966:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
282,2016,1,2016Q1,1966,Licensed Practical Nurse II,13421.48,9524123,50ed629a-c1b2-44c1-bb25-a8efa19eef00,09/10/1990,26
299,2016,2,2016Q2,1966,Licensed Practical Nurse II,15224.25,9524123,50ed629a-c1b2-44c1-bb25-a8efa19eef00,09/10/1990,26
316,2016,3,2016Q3,1966,Licensed Practical Nurse II,13048.80,9524123,50ed629a-c1b2-44c1-bb25-a8efa19eef00,09/10/1990,26
332,2016,4,2016Q4,1966,Licensed Practical Nurse II,15245.40,9524123,50ed629a-c1b2-44c1-bb25-a8efa19eef00,09/10/1990,26
352,2017,1,2017Q1,1966,Licensed Practical Nurse II,13360.32,9524123,50ed629a-c1b2-44c1-bb25-a8efa19eef00,09/10/1990,27
...,...,...,...,...,...,...,...,...,...,...
232630,2018,1,2018Q1,1966,Licensed Practical Nurse II,1572.61,9523644,7e0df9c5-e1f5-43d4-90e7-36cca7503040,04/17/2006,12
232935,2018,1,2018Q1,1966,Licensed Practical Nurse II,6582.99,9524144,ad17a42c-c458-4c70-8901-5bbaa9fc5ba3,12/27/1994,24
233316,2018,1,2018Q1,1966,Licensed Practical Nurse II,658.91,1400305,0893fb50-88bc-4b12-85e0-b23ce10db3db,12/29/2014,4
233448,2018,2,2018Q2,1966,Licensed Practical Nurse II,3530.32,9509569,83b9b5ee-9214-41d8-b76e-30318bf2e9ff,03/25/2013,5
233872,2018,1,2018Q1,1966,Licensed Practical Nurse II,11207.85,1802443,8e127727-77a2-482f-baf5-ede64d1cdb5a,11/17/2014,4

DataFrame for job code 906:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
324,2017,2,2017Q2,906,Clerk IV,2590.00,1052401,7a2c744a-f4b0-43b2-a79e-8481d1c0dcba,04/05/2017,0
406,2016,3,2016Q3,906,Clerk IV,10156.58,699701,f40e3e62-ef49-4d20-97d6-e60c853eb8c8,09/25/2000,16
877,2016,1,2016Q1,906,Clerk IV,8947.62,9514056,fbfd226c-5f3f-4080-a5a1-de2fd46866b1,01/23/2001,15
900,2016,2,2016Q2,906,Clerk IV,10437.04,9514056,fbfd226c-5f3f-4080-a5a1-de2fd46866b1,01/23/2001,15
913,2016,3,2016Q3,906,Clerk IV,2670.12,1052401,29c0e3b7-3365-42ba-8571-1672a98e08e0,06/12/2016,0
...,...,...,...,...,...,...,...,...,...,...
233764,2018,1,2018Q1,906,Clerk IV,2300.00,1800985,e66020b0-da56-4040-8aa9-a5e9aa20a8c3,02/04/2018,0
233808,2018,1,2018Q1,906,Clerk IV,340.50,1800768,9a4f4797-0532-4a7f-96e0-ef73e12df7da,10/02/2006,12
233830,2018,1,2018Q1,906,Clerk IV,1600.00,1052401,476437fa-f9fc-4b9b-b6cb-dca6ae700368,04/10/2017,1
234015,2018,2,2018Q2,906,Clerk IV,1500.00,1801002,79b32878-4b7d-4ffd-a517-b843221ff025,03/30/2017,1
234278,2018,2,2018Q2,906,Clerk IV,612.90,1800866,e8c2bc9f-6051-4c19-9c64-6fe96b55ebc8,03/23/2009,9

DataFrame for job code 551:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
436,2016,1,2016Q1,551,Court Clerk I,12863.48,9515394,a9da6a72-7cde-4f90-a02c-42364623e52d,06/17/1991,25
440,2016,2,2016Q2,551,Court Clerk I,15312.65,9515394,a9da6a72-7cde-4f90-a02c-42364623e52d,06/17/1991,25
443,2016,3,2016Q3,551,Court Clerk I,5879.49,9515394,a9da6a72-7cde-4f90-a02c-42364623e52d,06/17/1991,25
447,2016,4,2016Q4,551,Court Clerk I,14353.64,9515394,a9da6a72-7cde-4f90-a02c-42364623e52d,06/17/1991,25
451,2017,1,2017Q1,551,Court Clerk I,12931.92,9515394,a9da6a72-7cde-4f90-a02c-42364623e52d,06/17/1991,26
...,...,...,...,...,...,...,...,...,...,...
234068,2018,1,2018Q1,551,Court Clerk I,13459.49,9516920,0db37c25-b4db-48e6-9cc2-41440f8e1da5,01/21/1997,21
234188,2018,1,2018Q1,551,Court Clerk I,13688.44,9515950,8781c0c0-f8b2-40f8-9dda-1ab8e7dca59e,04/01/1991,27
234198,2018,2,2018Q2,551,Court Clerk I,15759.09,9515307,a165a24a-6862-4cab-81b4-83bcddcbcfb3,01/18/2000,18
234262,2018,1,2018Q1,551,Court Clerk I,13637.95,9516856,c6b8b9f6-866a-4444-b517-87bf77ab28c3,07/15/1991,27
234282,2018,1,2018Q1,551,Court Clerk I,13470.65,9516153,d7d6b78d-9e14-4c40-ac7a-c6f2bea6be88,06/13/2006,12

DataFrame for job code 5425:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
489,2016,4,2016Q4,5425,Youth Development Specialist,12118.02,903502,1fcee48f-6983-4a8f-bf59-cbac6e5e5440,02/10/2014,2
490,2017,1,2017Q1,5425,Youth Development Specialist,12371.54,903502,1fcee48f-6983-4a8f-bf59-cbac6e5e5440,02/10/2014,3
491,2017,2,2017Q2,5425,Youth Development Specialist,15245.92,903502,1fcee48f-6983-4a8f-bf59-cbac6e5e5440,02/10/2014,3
492,2017,3,2017Q3,5425,Youth Development Specialist,1997.47,903502,1fcee48f-6983-4a8f-bf59-cbac6e5e5440,02/10/2014,3
493,2017,4,2017Q4,5425,Youth Development Specialist,2472.69,903502,1fcee48f-6983-4a8f-bf59-cbac6e5e5440,02/10/2014,3
...,...,...,...,...,...,...,...,...,...,...
234010,2018,2,2018Q2,5425,Youth Development Specialist,8735.29,903498,6acc9d6e-5a14-45f0-908e-359ffe7ad59c,05/06/2013,5
234021,2018,2,2018Q2,5425,Youth Development Specialist,14890.18,800191,7b724331-d197-41f1-8b19-61bde9a1e02c,10/07/2013,5
234025,2018,2,2018Q2,5425,Youth Development Specialist,11282.38,9517256,e15ced12-7921-4692-8bd8-d68ec7dfcdee,10/07/2013,5
234245,2018,1,2018Q1,5425,Youth Development Specialist,12551.98,9517314,c37b4fff-fae0-4bd0-a49e-ef89eb6405de,05/20/2013,5
234286,2018,2,2018Q2,5425,Youth Development Specialist,15261.59,1400111,0707b687-95a4-4471-87f4-9f7e1d18af31,11/03/2014,4

DataFrame for job code 2143:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
494,2016,1,2016Q1,2143,Building Service Worker- CCH,7994.00,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,3
495,2016,2,2016Q2,2143,Building Service Worker- CCH,9356.90,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,3
496,2016,3,2016Q3,2143,Building Service Worker- CCH,8020.20,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,3
497,2016,4,2016Q4,2143,Building Service Worker- CCH,9356.90,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,3
498,2017,1,2017Q1,2143,Building Service Worker- CCH,6804.20,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,4
...,...,...,...,...,...,...,...,...,...,...
231700,2018,1,2018Q1,2143,Building Service Worker- CCH,6541.55,1802837,e0bf656b-6c27-4acb-81de-c839ec25e3a2,09/06/2016,2
232219,2018,1,2018Q1,2143,Building Service Worker- CCH,7306.82,1802614,62d2b62c-87c3-432e-88f9-b344c118fbfb,09/06/2016,2
233225,2018,1,2018Q1,2143,Building Service Worker- CCH,4286.57,1802834,677ce58b-2a1a-463d-9581-b3605a4f5daa,09/06/2016,2
233464,2018,1,2018Q1,2143,Building Service Worker- CCH,9454.41,903372,917dba2c-ac62-4991-9f02-9fb44c3dba7d,08/24/2015,3
233587,2018,2,2018Q2,2143,Building Service Worker- CCH,10096.22,1700199,d2bb45fc-4137-4662-9f36-667ee463b2c9,09/05/2017,1

DataFrame for job code 6824:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
499,2017,1,2017Q1,6824,Bldng Srvc Wrkr SEIU 73),1390.50,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,4
500,2017,2,2017Q2,6824,Bldng Srvc Wrkr SEIU 73),9733.50,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,4
501,2017,3,2017Q3,6824,Bldng Srvc Wrkr SEIU 73),8480.15,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,4
502,2017,4,2017Q4,6824,Bldng Srvc Wrkr SEIU 73),10408.30,9509284,bab86a73-0be1-4490-9d21-c211f5f70022,12/16/2013,4
840,2017,1,2017Q1,6824,Bldng Srvc Wrkr SEIU 73),1631.40,9519867,ed55ba06-3630-4e57-910a-72123b1eb52c,09/06/1983,34
...,...,...,...,...,...,...,...,...,...,...
233991,2018,1,2018Q1,6824,Bldng Srvc Wrkr SEIU 73),6648.63,1802909,29a4c379-0623-4ec5-b659-5a42626d1d0c,06/28/2004,14
234019,2018,1,2018Q1,6824,Bldng Srvc Wrkr SEIU 73),6372.76,1802619,8ccde5a5-f4d2-4450-9ca5-d862454097fc,09/22/2003,15
234058,2018,2,2018Q2,6824,Bldng Srvc Wrkr SEIU 73),3183.60,9521653,00648b76-4514-4e69-8763-61b6a1d78714,09/25/2000,18
234088,2018,1,2018Q1,6824,Bldng Srvc Wrkr SEIU 73),7445.25,1801785,6c64cce8-ad43-49df-97d2-56a8cf14ef2c,12/02/2013,5
234123,2018,2,2018Q2,6824,Bldng Srvc Wrkr SEIU 73),7434.50,1803058,dbca3604-2bfa-4e4d-8121-95e85882966b,02/09/2015,3

DataFrame for job code 1333:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
503,2016,1,2016Q1,1333,Deputy Sheriff II,14804.56,9503678,6697a61b-fb33-40de-901e-dfa82709c9c9,08/21/2006,10
505,2016,2,2016Q2,1333,Deputy Sheriff II,17328.62,9503678,6697a61b-fb33-40de-901e-dfa82709c9c9,08/21/2006,10
507,2016,3,2016Q3,1333,Deputy Sheriff II,14853.11,9503678,6697a61b-fb33-40de-901e-dfa82709c9c9,08/21/2006,10
509,2016,4,2016Q4,1333,Deputy Sheriff II,18019.64,9503678,6697a61b-fb33-40de-901e-dfa82709c9c9,08/21/2006,10
511,2017,1,2017Q1,1333,Deputy Sheriff II,15735.10,9503678,6697a61b-fb33-40de-901e-dfa82709c9c9,08/21/2006,11
...,...,...,...,...,...,...,...,...,...,...
233936,2018,2,2018Q2,1333,Deputy Sheriff II,21353.83,9503721,93132092-5ef6-46cc-8913-e7ff36cfd138,10/13/1998,20
233971,2018,1,2018Q1,1333,Deputy Sheriff II,11173.60,1803862,3f63f83b-8dbd-4dc3-8549-67155df78f07,10/13/1998,20
234087,2018,2,2018Q2,1333,Deputy Sheriff II,20627.16,9504043,4c67d4d9-577a-4606-85e2-c8d352e8772e,07/19/2004,14
234120,2018,2,2018Q2,1333,Deputy Sheriff II,22125.85,9504458,73960a0a-8e94-4c08-8e9f-63d27c53e8c1,01/29/1996,22
234273,2018,1,2018Q1,1333,Deputy Sheriff II,16409.33,9504152,ca54e718-c7e3-4007-b42a-446d0b5c292b,03/23/2003,15

DataFrame for job code 1341:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
504,2016,1,2016Q1,1341,Deputy Sheriff Sergeant,19649.63,9504324,8b4d7b30-fff8-4674-8763-f796a709bea5,07/03/1989,27
506,2016,2,2016Q2,1341,Deputy Sheriff Sergeant,23165.60,9504324,8b4d7b30-fff8-4674-8763-f796a709bea5,07/03/1989,27
508,2016,3,2016Q3,1341,Deputy Sheriff Sergeant,19856.16,9504324,8b4d7b30-fff8-4674-8763-f796a709bea5,07/03/1989,27
510,2016,4,2016Q4,1341,Deputy Sheriff Sergeant,23165.61,9504324,8b4d7b30-fff8-4674-8763-f796a709bea5,07/03/1989,27
512,2017,1,2017Q1,1341,Deputy Sheriff Sergeant,20228.55,9504324,8b4d7b30-fff8-4674-8763-f796a709bea5,07/03/1989,28
...,...,...,...,...,...,...,...,...,...,...
233664,2018,1,2018Q1,1341,Deputy Sheriff Sergeant,20774.49,9503689,187e854f-a486-476f-a5f6-6204019ce89c,04/12/1995,23
233682,2018,1,2018Q1,1341,Deputy Sheriff Sergeant,19916.40,9504338,26da3a7f-ca11-46b0-b190-fed6d4335146,05/25/1993,25
233747,2018,2,2018Q2,1341,Deputy Sheriff Sergeant,24160.52,9504879,ba771fd9-3f04-445a-9302-4986d2d213a7,04/03/1989,29
233874,2018,2,2018Q2,1341,Deputy Sheriff Sergeant,6386.60,9504053,a358b309-85f7-42d8-9706-60d31a41ea0c,04/07/1997,21
234055,2018,2,2018Q2,1341,Deputy Sheriff Sergeant,15966.50,1803776,08ce8d85-0a24-4e08-9ff7-aa6d1bd5a185,06/15/1998,20

DataFrame for job code 907:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
562,2016,2,2016Q2,907,Clerk V,0.00,9510764,bc26d7f7-2e1e-4bd5-be64-c2fda03b0a63,02/16/1989,27
563,2016,2,2016Q2,907,Clerk V,0.00,9931957,36c468be-13f0-4037-a7fd-66099a9d5510,08/16/1991,25
593,2016,1,2016Q1,907,Clerk V,11405.81,9509193,7c8ef494-087c-4da8-a727-d5dff708b989,04/04/1994,22
603,2016,2,2016Q2,907,Clerk V,13350.39,9509193,7c8ef494-087c-4da8-a727-d5dff708b989,04/04/1994,22
614,2016,3,2016Q3,907,Clerk V,11443.20,9509193,7c8ef494-087c-4da8-a727-d5dff708b989,04/04/1994,22
...,...,...,...,...,...,...,...,...,...,...
234118,2018,1,2018Q1,907,Clerk V,12040.53,9520059,fb5ae7f8-115f-4485-84c0-ec2157fd992d,08/14/1995,23
234135,2018,1,2018Q1,907,Clerk V,12033.20,1700434,72488c49-8102-465e-905e-d7f9bf9d42a4,07/18/1988,30
234208,2018,1,2018Q1,907,Clerk V,11989.79,9512179,76a191a5-67e3-40a9-bb2f-d7339cb8ca22,08/09/1994,24
234233,2018,2,2018Q2,907,Clerk V,13731.34,9516739,bae08550-6349-4370-befd-128e7a0bb5e1,06/09/1997,21
234283,2018,1,2018Q1,907,Clerk V,11772.92,9512178,48bea513-ce8a-423d-8108-6a30dadb6041,09/09/1985,33

DataFrame for job code 4826:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
695,2016,4,2016Q4,4826,Health Advocate - Inpatient,6194.40,1100330,01e20bc2-d262-44bd-bfd9-d57e7d8e4dbb,03/04/1991,25
696,2017,1,2017Q1,4826,Health Advocate - Inpatient,9465.60,1100330,01e20bc2-d262-44bd-bfd9-d57e7d8e4dbb,03/04/1991,26
697,2017,2,2017Q2,4826,Health Advocate - Inpatient,11083.84,1100330,01e20bc2-d262-44bd-bfd9-d57e7d8e4dbb,03/04/1991,26
698,2017,3,2017Q3,4826,Health Advocate - Inpatient,9532.74,1100330,01e20bc2-d262-44bd-bfd9-d57e7d8e4dbb,03/04/1991,26
699,2017,4,2017Q4,4826,Health Advocate - Inpatient,11545.40,1100330,01e20bc2-d262-44bd-bfd9-d57e7d8e4dbb,03/04/1991,26
...,...,...,...,...,...,...,...,...,...,...
233778,2018,1,2018Q1,4826,Health Advocate - Inpatient,12234.52,1100337,52350fa0-e177-4811-a293-fca00eec34e2,12/07/1992,26
233825,2018,1,2018Q1,4826,Health Advocate - Inpatient,9353.21,9524293,269accec-86b6-426c-8555-565555fbe875,01/19/1999,19
233852,2018,1,2018Q1,4826,Health Advocate - Inpatient,9189.08,1100358,0e9140fd-f15f-4d10-922d-8e283b57dcbd,11/27/2017,1
234044,2018,1,2018Q1,4826,Health Advocate - Inpatient,3494.67,9524084,39cb6fef-ee09-4b10-b71f-3371e6490e70,07/29/2002,16
234241,2018,1,2018Q1,4826,Health Advocate - Inpatient,11131.87,9523981,ab6ca9b1-c531-4d93-9b01-0ac3a63c0e62,08/26/2002,16

DataFrame for job code 1355:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
751,2016,1,2016Q1,1355,Correctional Lieutenant,18497.31,9508451,3240b775-ab82-4999-b1d6-7ab9d98c8969,06/21/1999,17
755,2016,2,2016Q2,1355,Correctional Lieutenant,21580.20,9508451,3240b775-ab82-4999-b1d6-7ab9d98c8969,06/21/1999,17
761,2016,3,2016Q3,1355,Correctional Lieutenant,14385.99,9508451,3240b775-ab82-4999-b1d6-7ab9d98c8969,06/21/1999,17
765,2016,4,2016Q4,1355,Correctional Lieutenant,0.00,9508451,3240b775-ab82-4999-b1d6-7ab9d98c8969,06/21/1999,17
776,2017,3,2017Q3,1355,Correctional Lieutenant,6472.99,9508451,3240b775-ab82-4999-b1d6-7ab9d98c8969,06/21/1999,18
...,...,...,...,...,...,...,...,...,...,...
233222,2018,2,2018Q2,1355,Correctional Lieutenant,23350.88,9506019,eec8fb5c-070c-40d1-a6b0-70922c5da84c,09/18/2006,12
233232,2018,2,2018Q2,1355,Correctional Lieutenant,25342.80,9508094,484a5fb9-337b-4df0-9009-6986e2478562,06/27/1994,24
233577,2018,1,2018Q1,1355,Correctional Lieutenant,19975.80,700191,9e03ff89-aea8-4a6f-bc43-92840dc79997,12/15/2003,15
233592,2018,1,2018Q1,1355,Correctional Lieutenant,6858.80,9508091,3baca9e3-6f3f-4e9e-9438-cc3e09b1936f,04/10/2000,18
234138,2018,1,2018Q1,1355,Correctional Lieutenant,22820.48,9506195,635951fb-2e8f-488a-a1eb-c75c7ce17f90,08/01/1989,29

DataFrame for job code 47:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
752,2016,1,2016Q1,47,Admin Assistant II,14045.73,9513331,1ae27766-d5d4-4f7b-a6b2-49b147903b46,10/09/1992,24
756,2016,2,2016Q2,47,Admin Assistant II,16452.23,9513331,1ae27766-d5d4-4f7b-a6b2-49b147903b46,10/09/1992,24
762,2016,3,2016Q3,47,Admin Assistant II,14162.40,9513331,1ae27766-d5d4-4f7b-a6b2-49b147903b46,10/09/1992,24
766,2016,4,2016Q4,47,Admin Assistant II,16515.42,9513331,1ae27766-d5d4-4f7b-a6b2-49b147903b46,10/09/1992,24
770,2017,1,2017Q1,47,Admin Assistant II,14427.90,9513331,1ae27766-d5d4-4f7b-a6b2-49b147903b46,10/09/1992,25
...,...,...,...,...,...,...,...,...,...,...
233970,2018,1,2018Q1,47,Admin Assistant II,14067.00,9510886,fac3caaa-a752-4123-a50e-36fa61fb14c6,06/03/2002,16
234009,2018,1,2018Q1,47,Admin Assistant II,15122.00,9510689,9076889b-d037-49aa-9c50-1134765d8de3,03/03/1998,20
234149,2018,2,2018Q2,47,Admin Assistant II,9047.71,1803614,64ca5a13-94a1-4807-a4d0-480c55a06a04,11/30/2015,3
234185,2018,1,2018Q1,47,Admin Assistant II,9847.20,9932053,b90a4eb3-bdf6-4695-8752-25fd8e6170b4,05/28/1991,27
234232,2018,2,2018Q2,47,Admin Assistant II,17531.83,9511392,13766a6c-016c-4644-a17e-50360c187a72,06/01/1987,31

DataFrame for job code 4220:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
878,2016,1,2016Q1,4220,Clerk IV Senior Courts,9927.43,9518287,7b1e65b5-da17-4bf1-82c6-88a36509697f,12/01/1989,27
901,2016,2,2016Q2,4220,Clerk IV Senior Courts,11620.00,9518287,7b1e65b5-da17-4bf1-82c6-88a36509697f,12/01/1989,27
924,2016,3,2016Q3,4220,Clerk IV Senior Courts,9462.00,9518287,7b1e65b5-da17-4bf1-82c6-88a36509697f,12/01/1989,27
950,2016,4,2016Q4,4220,Clerk IV Senior Courts,11537.00,9518287,7b1e65b5-da17-4bf1-82c6-88a36509697f,12/01/1989,27
976,2017,1,2017Q1,4220,Clerk IV Senior Courts,10147.00,9518287,7b1e65b5-da17-4bf1-82c6-88a36509697f,12/01/1989,28
...,...,...,...,...,...,...,...,...,...,...
233979,2018,1,2018Q1,4220,"Clerk IV, Senior Courts",6757.34,9934207,0305d828-7ee3-4580-984a-1fb10e3f082b,09/07/2004,14
234069,2018,1,2018Q1,4220,"Clerk IV, Senior Courts",6886.62,9516559,4a334c3a-75e0-493c-bb9b-97ed688bebe7,03/03/1998,20
234092,2018,1,2018Q1,4220,"Clerk IV, Senior Courts",6710.05,9516801,31963fc4-076c-4f4b-86d1-a2e0b0b35c30,05/29/2001,17
234093,2018,1,2018Q1,4220,"Clerk IV, Senior Courts",6925.15,9515258,f15d58ab-849e-4ce2-a9ba-9d279e94d3c9,06/27/2005,13
234196,2018,1,2018Q1,4220,Clerk IV Senior Courts,2736.60,9935197,d81fb4f7-9904-4f34-8c17-f6942d22103f,05/16/2016,2

DataFrame for job code 605:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1058,2016,1,2016Q1,605,Assistant Public Defender II,15581.99,9511695,1e880500-4ca6-4d52-ac4f-7b26ff85098c,06/30/2014,2
1061,2016,2,2016Q2,605,Assistant Public Defender II,18238.62,9511695,1e880500-4ca6-4d52-ac4f-7b26ff85098c,06/30/2014,2
1064,2016,3,2016Q3,605,Assistant Public Defender II,15633.11,9511695,1e880500-4ca6-4d52-ac4f-7b26ff85098c,06/30/2014,2
1067,2016,4,2016Q4,605,Assistant Public Defender II,19182.32,9511695,1e880500-4ca6-4d52-ac4f-7b26ff85098c,06/30/2014,2
1070,2017,1,2017Q1,605,Assistant Public Defender II,16887.64,9511695,1e880500-4ca6-4d52-ac4f-7b26ff85098c,06/30/2014,3
...,...,...,...,...,...,...,...,...,...,...
233625,2018,2,2018Q2,605,Assistant Public Defender II,26404.00,9511439,328aff20-c670-4378-b7ab-62ee0004b80a,06/09/1997,21
233881,2018,1,2018Q1,605,Assistant Public Defender II,18148.31,9512015,136406fa-5bdb-4554-8d2e-7bf4330598a4,11/03/2014,4
233898,2018,1,2018Q1,605,Assistant Public Defender II,19061.30,9511700,8ae37347-aecf-4d48-871d-e66a5f7bb925,03/10/2003,15
234142,2018,1,2018Q1,605,Assistant Public Defender II,22632.00,9511850,9afc75b1-4364-43a6-b7b0-b9f6d139fe79,08/23/1993,25
234194,2018,2,2018Q2,605,Assistant Public Defender II,22238.16,9511700,8ae37347-aecf-4d48-871d-e66a5f7bb925,03/10/2003,15

DataFrame for job code 2412:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1098,2016,1,2016Q1,2412,Janitor II,9069.13,9502790,483fc715-5049-4260-83cc-3d39c24dd4c3,05/03/2004,12
1099,2016,2,2016Q2,2412,Janitor II,8492.29,9502790,483fc715-5049-4260-83cc-3d39c24dd4c3,05/03/2004,12
1100,2016,3,2016Q3,2412,Janitor II,4245.00,9502790,483fc715-5049-4260-83cc-3d39c24dd4c3,05/03/2004,12
1101,2016,4,2016Q4,2412,Janitor II,9553.89,9502790,483fc715-5049-4260-83cc-3d39c24dd4c3,05/03/2004,12
1102,2017,1,2017Q1,2412,Janitor II,9269.50,9502790,483fc715-5049-4260-83cc-3d39c24dd4c3,05/03/2004,13
...,...,...,...,...,...,...,...,...,...,...
233730,2018,1,2018Q1,2412,Janitor II,10877.40,9502993,6451d08c-b208-4e89-94cb-ff53d9a14d5f,06/30/1997,21
233759,2018,1,2018Q1,2412,Janitor II,10877.40,9503115,09c93420-1813-45ad-a496-dc67af4a509c,06/01/1989,29
233931,2018,1,2018Q1,2412,Janitor II,6483.60,9503123,68be1f02-ceb0-4898-91f9-662bc687514f,06/30/2003,15
233952,2018,1,2018Q1,2412,Janitor II,9967.70,9502890,fa8650e2-a0c6-48b8-b591-d15c65603a7e,05/26/1998,20
234119,2018,1,2018Q1,2412,Janitor II,9764.60,9502811,e148e0b3-19f9-4bc6-a0ea-01ea5b8189d3,11/13/2007,11

DataFrame for job code 606:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1193,2017,2,2017Q2,606,Assistant Public Defender III,3957.10,9511816,575a0a7f-c2f2-4335-8ed7-210f6c4b2ac2,02/16/2010,7
1195,2017,3,2017Q3,606,Assistant Public Defender III,24138.18,9511816,575a0a7f-c2f2-4335-8ed7-210f6c4b2ac2,02/16/2010,7
1196,2017,4,2017Q4,606,Assistant Public Defender III,28253.61,9511816,575a0a7f-c2f2-4335-8ed7-210f6c4b2ac2,02/16/2010,7
1418,2016,3,2016Q3,606,Assistant Public Defender III,0.00,9511634,d4dd2ac2-d675-41c6-9554-37ed7d25947b,08/16/1993,23
1587,2016,1,2016Q1,606,Assistant Public Defender III,25161.75,9511355,116aeab8-cc8a-499d-b784-d58ac1c3301b,08/01/1991,25
...,...,...,...,...,...,...,...,...,...,...
233119,2018,2,2018Q2,606,Assistant Public Defender III,30870.00,9511353,e933a457-3874-4caf-ab7e-919cdf6927ff,09/19/2005,13
233137,2018,1,2018Q1,606,Assistant Public Defender III,24217.39,9511883,2d48a938-748b-4630-8ac1-c4827c08b70e,02/16/2010,8
233318,2018,1,2018Q1,606,Assistant Public Defender III,26460.00,9511331,0c6248cd-3756-4c1f-a0e1-a3cfd8eb4571,08/23/2004,14
234216,2018,2,2018Q2,606,Assistant Public Defender III,30870.00,9511450,89b467fc-747f-499c-ad6b-db4eef0f93da,08/23/2004,14
234254,2018,2,2018Q2,606,Assistant Public Defender III,30870.00,9511966,12c5ef30-094f-460d-98f6-3debea6853be,01/04/1993,25

DataFrame for job code 46:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1362,2016,1,2016Q1,46,Admin Assistant I,1940.70,9503266,d6cd5581-17f2-4744-bb90-648fba027e2b,01/18/1982,34
1363,2016,2,2016Q2,46,Admin Assistant I,7568.75,9503266,d6cd5581-17f2-4744-bb90-648fba027e2b,01/18/1982,34
1701,2017,4,2017Q4,46,Admin Assistant I,10555.30,9507798,4573a53e-c835-4ea6-98ea-59a3238e502c,01/09/2017,0
1718,2017,1,2017Q1,46,Admin Assistant I,4434.96,9507798,4573a53e-c835-4ea6-98ea-59a3238e502c,01/09/2017,0
1722,2017,2,2017Q2,46,Admin Assistant I,10348.15,9507798,4573a53e-c835-4ea6-98ea-59a3238e502c,01/09/2017,0
...,...,...,...,...,...,...,...,...,...,...
234065,2018,1,2018Q1,46,Admin Assistant I,3854.72,9931771,d97b3fb6-d4b9-4ac4-a5eb-db7b4e7e7396,05/20/1996,22
234075,2018,2,2018Q2,46,Admin Assistant I,13981.82,9515218,3a00dc57-a4d3-471f-b2a6-373890122be6,10/20/1989,29
234111,2018,1,2018Q1,46,Admin Assistant I,12234.01,9510763,b4c8f86e-a458-4b8e-aa0a-7e5986fb616f,01/31/2000,18
234134,2018,2,2018Q2,46,Admin Assistant I,15473.10,9516155,b8f08a19-e421-4fbb-8360-3b8dc300988b,06/01/1989,29
234152,2018,2,2018Q2,46,Admin Assistant I,14987.01,1000041,c52983be-64b4-49df-b503-e4984927e862,08/31/1992,26

DataFrame for job code 11:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1482,2016,3,2016Q3,11,Judge of the Circuit Court,125.0,9512881,a9f5b3a2-34bf-4c8a-9419-5452ae38a2bb,07/18/1966,50
1508,2016,1,2016Q1,11,Judge of the Circuit Court,125.0,9512881,a9f5b3a2-34bf-4c8a-9419-5452ae38a2bb,07/18/1966,50
1509,2016,2,2016Q2,11,Judge of the Circuit Court,125.0,9512881,a9f5b3a2-34bf-4c8a-9419-5452ae38a2bb,07/18/1966,50
1510,2016,4,2016Q4,11,Judge of the Circuit Court,125.0,9512881,a9f5b3a2-34bf-4c8a-9419-5452ae38a2bb,07/18/1966,50
1511,2017,1,2017Q1,11,Judge of the Circuit Court,125.0,9512881,a9f5b3a2-34bf-4c8a-9419-5452ae38a2bb,07/18/1966,51
...,...,...,...,...,...,...,...,...,...,...
233802,2018,2,2018Q2,11,Judge of the Circuit Court,250.0,9513075,f1884d15-a939-4d58-b87d-961ed9f062e3,03/17/1997,21
233816,2018,2,2018Q2,11,Judge of the Circuit Court,250.0,9513111,eaa006c4-bbb2-4606-9c3a-78d4976bcd08,01/19/2016,2
234047,2018,2,2018Q2,11,Judge of the Circuit Court,250.0,9513184,50017f35-edab-48a1-96c9-5cc7106d83ea,08/08/2017,1
234079,2018,2,2018Q2,11,Judge of the Circuit Court,250.0,9512960,8de383eb-b07d-4a7c-b60e-c2ba26bf4877,12/05/2016,2
234202,2018,2,2018Q2,11,Judge of the Circuit Court,250.0,9512955,c970a7d5-1068-4d88-bc78-ce18a5287da9,02/01/1973,45

DataFrame for job code 1567:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1570,2016,2,2016Q2,1567,Adult Probation Officer- PSB,0.00,9512448,523fd7b1-3d68-42f4-b2f9-7efb4cf0af75,06/19/1989,27
3658,2016,2,2016Q2,1567,Adult Probation Officer- PSB,5873.83,9512799,0c1ff629-b3e6-4824-b02f-4f1c4026176c,01/08/2001,15
3662,2016,3,2016Q3,1567,Adult Probation Officer- PSB,17665.40,9512799,0c1ff629-b3e6-4824-b02f-4f1c4026176c,01/08/2001,15
3664,2016,4,2016Q4,1567,Adult Probation Officer- PSB,20347.89,9512799,0c1ff629-b3e6-4824-b02f-4f1c4026176c,01/08/2001,15
3666,2017,1,2017Q1,1567,Adult Probation Officer- PSB,17981.59,9512799,0c1ff629-b3e6-4824-b02f-4f1c4026176c,01/08/2001,16
...,...,...,...,...,...,...,...,...,...,...
233740,2018,1,2018Q1,1567,Adult Probation Officer- PSB,19217.40,9512263,0622b0e8-b4c6-4cb8-9cc3-283f59352715,06/19/1989,29
233837,2018,1,2018Q1,1567,Adult Probation Officer- PSB,19216.97,9512509,83d93259-359f-42f6-8b75-40457b23f7ef,09/18/1989,29
233869,2018,2,2018Q2,1567,Adult Probation Officer- PSB,22450.60,9512370,e609e5f2-0370-497e-b77d-678607fd97ac,02/16/1988,30
233925,2018,1,2018Q1,1567,Adult Probation Officer- PSB,19217.40,9512453,6a9453a3-4467-46cb-85b1-ccec9e5402c3,07/01/1991,27
234296,2018,1,2018Q1,1567,Adult Probation Officer- PSB,19217.40,9512421,709a5fed-c9a2-4fe6-9d4d-439bd389b5b8,07/01/1985,33

DataFrame for job code 1339:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1585,2016,1,2016Q1,1339,Deputy Sheriff D2B,16017.92,9503561,5ac965f8-dbec-40bc-a64f-908a0be811ad,08/22/2005,11
1601,2016,2,2016Q2,1339,Deputy Sheriff D2B,18748.80,9503561,5ac965f8-dbec-40bc-a64f-908a0be811ad,08/22/2005,11
1615,2016,3,2016Q3,1339,Deputy Sheriff D2B,16070.40,9503561,5ac965f8-dbec-40bc-a64f-908a0be811ad,08/22/2005,11
1628,2016,4,2016Q4,1339,Deputy Sheriff D2B,18748.80,9503561,5ac965f8-dbec-40bc-a64f-908a0be811ad,08/22/2005,11
1645,2017,1,2017Q1,1339,Deputy Sheriff D2B,16371.59,9503561,5ac965f8-dbec-40bc-a64f-908a0be811ad,08/22/2005,12
...,...,...,...,...,...,...,...,...,...,...
234145,2018,1,2018Q1,1339,Deputy Sheriff D2B,12464.94,1803792,d7ecea75-a973-4185-a3be-4b52da3bfd24,02/17/1998,20
234154,2018,2,2018Q2,1339,Deputy Sheriff D2B,16318.49,1804144,858425bd-10cc-4359-b77b-6d037c58fecb,06/25/2001,17
234229,2018,2,2018Q2,1339,Deputy Sheriff D2B,16318.48,1803679,12d618f9-8030-4c82-aa8c-59d1895c53ca,07/08/2002,16
234237,2018,1,2018Q1,1339,Deputy Sheriff D2B,5586.86,9504242,e18f84be-30e4-4a32-b981-9ce0e0a7055f,11/24/2003,15
234268,2018,2,2018Q2,1339,Deputy Sheriff D2B,15386.83,1803669,1bcd2657-8731-44e4-bdf9-b3737d69062e,01/29/1996,22

DataFrame for job code 1:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1589,2016,1,2016Q1,1,Associate Judge Circuit Court,125.0,9513159,06d1daf5-c823-4f2d-8105-c0be607100d7,09/17/1990,26
1605,2016,2,2016Q2,1,Associate Judge Circuit Court,125.0,9513159,06d1daf5-c823-4f2d-8105-c0be607100d7,09/17/1990,26
1618,2016,3,2016Q3,1,Associate Judge Circuit Court,125.0,9513159,06d1daf5-c823-4f2d-8105-c0be607100d7,09/17/1990,26
1631,2016,4,2016Q4,1,Associate Judge Circuit Court,125.0,9513159,06d1daf5-c823-4f2d-8105-c0be607100d7,09/17/1990,26
1648,2017,1,2017Q1,1,Associate Judge Circuit Court,125.0,9513159,06d1daf5-c823-4f2d-8105-c0be607100d7,09/17/1990,27
...,...,...,...,...,...,...,...,...,...,...
233784,2018,2,2018Q2,1,Associate Judge Circuit Court,250.0,130002,73e65552-af4c-4d9b-be6e-82b66b0b84fe,08/18/1980,38
234072,2018,1,2018Q1,1,Associate Judge Circuit Court,250.0,9513113,82faf3d0-c459-4937-811c-2c2e76828818,09/05/1995,23
234082,2018,2,2018Q2,1,Associate Judge Circuit Court,250.0,130019,6a70c318-e9d9-42ea-9355-618a80641eb1,08/02/1978,40
234221,2018,2,2018Q2,1,Associate Judge Circuit Court,250.0,9513138,47cb3666-6dc0-4cfc-b48a-80a09d74183b,02/15/2012,6
234270,2018,2,2018Q2,1,Associate Judge Circuit Court,250.0,9513155,90769400-40f7-4a7d-8ec1-1da25a43a898,09/26/2008,10

DataFrame for job code 936:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1831,2016,1,2016Q1,936,Stenographer V,9261.20,9501649,ff904e64-c055-4443-a629-30ed8dfde8d7,08/18/2014,2
1832,2016,2,2016Q2,936,Stenographer V,11376.43,9501649,ff904e64-c055-4443-a629-30ed8dfde8d7,08/18/2014,2
1833,2016,3,2016Q3,936,Stenographer V,9751.21,9501649,ff904e64-c055-4443-a629-30ed8dfde8d7,08/18/2014,2
1834,2016,4,2016Q4,936,Stenographer V,11376.40,9501649,ff904e64-c055-4443-a629-30ed8dfde8d7,08/18/2014,2
1835,2017,1,2017Q1,936,Stenographer V,10186.48,9501649,ff904e64-c055-4443-a629-30ed8dfde8d7,08/18/2014,3
...,...,...,...,...,...,...,...,...,...,...
232556,2018,1,2018Q1,936,Stenographer V,13786.80,1400433,e431b00d-29b1-4521-a72d-9ca790c15c71,10/17/1988,30
232716,2018,2,2018Q2,936,Stenographer V,16021.64,9510709,d5da057a-4a5d-42b7-85ed-1996122880c8,01/05/1998,20
233404,2018,1,2018Q1,936,Stenographer V,12084.71,9513602,87ab5af3-67a2-44f8-a325-e49f8dd624f2,05/05/2003,15
233818,2018,1,2018Q1,936,Stenographer V,8528.30,9511611,91a795f3-6881-4291-87a1-09b1c05f2164,12/12/2005,13
234057,2018,1,2018Q1,936,Stenographer V,12915.00,9513962,67581171-ae64-44ff-bf6e-2f3df756fcb3,11/28/1994,24

DataFrame for job code 1878:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
1902,2016,1,2016Q1,1878,Pharmacist,26801.86,9521445,60d41848-c5c5-42ee-871c-adce6bcc113a,05/31/2005,11
1913,2016,2,2016Q2,1878,Pharmacist,31592.62,9521445,60d41848-c5c5-42ee-871c-adce6bcc113a,05/31/2005,11
1923,2016,3,2016Q3,1878,Pharmacist,28610.42,9521445,60d41848-c5c5-42ee-871c-adce6bcc113a,05/31/2005,11
1933,2016,4,2016Q4,1878,Pharmacist,33378.81,9521445,60d41848-c5c5-42ee-871c-adce6bcc113a,05/31/2005,11
1943,2017,1,2017Q1,1878,Pharmacist,29146.88,9521445,60d41848-c5c5-42ee-871c-adce6bcc113a,05/31/2005,12
...,...,...,...,...,...,...,...,...,...,...
233446,2018,1,2018Q1,1878,Pharmacist,29613.58,9519500,b0d9cc36-c141-4a88-9536-b7924db7799c,09/07/2004,14
233500,2018,2,2018Q2,1878,Pharmacist,37632.60,9930569,318a1b48-d7ff-48be-b053-e44050fd092d,12/27/2005,13
233578,2018,1,2018Q1,1878,Pharmacist,29797.55,903672,61c2aae1-5b64-409a-9c15-781ef3352bad,03/07/2005,13
233665,2018,2,2018Q2,1878,Pharmacist,42195.74,9521430,6a466ff0-17c4-4cc0-9994-05a065ec65b8,07/12/1993,25
233846,2018,1,2018Q1,1878,Pharmacist,29825.52,1400549,2f1e9f1f-c75f-4a98-81ef-2fda7104494b,08/10/2015,3

DataFrame for job code 5296:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
2588,2017,2,2017Q2,5296,Medical Assistant,10195.42,1600074,f21bf636-094f-4112-bf5e-835d10f7018b,02/21/2017,0
2589,2017,3,2017Q3,5296,Medical Assistant,9018.41,1600074,f21bf636-094f-4112-bf5e-835d10f7018b,02/21/2017,0
2590,2017,4,2017Q4,5296,Medical Assistant,10552.64,1600074,f21bf636-094f-4112-bf5e-835d10f7018b,02/21/2017,0
3877,2016,1,2016Q1,5296,Medical Assistant,8216.39,9932421,99c7700f-6eb1-4196-951a-c18e807eb66d,03/09/2015,1
3890,2016,2,2016Q2,5296,Medical Assistant,10109.76,9932421,99c7700f-6eb1-4196-951a-c18e807eb66d,03/09/2015,1
...,...,...,...,...,...,...,...,...,...,...
233834,2018,2,2018Q2,5296,Medical Assistant,11598.33,800574,276576cb-b903-4991-a6f7-3d195243b192,04/20/2015,3
234049,2018,2,2018Q2,5296,Medical Assistant,11818.55,1600084,7d375ca3-5f51-4b2f-96c4-5cc6b998774c,02/11/2013,5
234066,2018,1,2018Q1,5296,Medical Assistant,1575.06,1700290,ec06358a-6c1b-43ea-9a51-f604bf9f992a,11/28/2016,2
234209,2018,2,2018Q2,5296,Medical Assistant,10985.06,1600073,147c1490-10a2-4dc9-8238-365c028c7002,05/06/2013,5
234297,2018,1,2018Q1,5296,Medical Assistant,9698.80,9519643,8967b2f6-c6eb-40b6-836b-f52c6954325c,08/08/2016,2

DataFrame for job code 671:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
3207,2016,1,2016Q1,671,Investigator II Inten Supv,15508.81,1400458,8bfa0a16-5327-4956-88d4-0e388cc6b2b9,05/15/2006,10
3214,2016,1,2016Q1,671,Investigator II Inten Supv,18133.95,9505966,a813a422-3e9f-401b-8bb1-c38f12ebace8,07/07/1986,30
3243,2016,2,2016Q2,671,Investigator II Inten Supv,18256.67,1400458,8bfa0a16-5327-4956-88d4-0e388cc6b2b9,05/15/2006,10
3250,2016,2,2016Q2,671,Investigator II Inten Supv,21225.64,9505966,a813a422-3e9f-401b-8bb1-c38f12ebace8,07/07/1986,30
3279,2016,3,2016Q3,671,Investigator II Inten Supv,16181.81,1400458,8bfa0a16-5327-4956-88d4-0e388cc6b2b9,05/15/2006,10
...,...,...,...,...,...,...,...,...,...,...
232799,2018,1,2018Q1,671,Investigator II Inten Supv,5849.60,9507065,48e18e21-bd9a-4e4c-a5a4-ad702580c00b,07/07/1997,21
232881,2018,1,2018Q1,671,Investigator II Inten Supv,12650.00,1804168,f153c733-1f4d-4362-ba3e-d7c5e1f58d7f,01/16/1991,27
233256,2018,2,2018Q2,671,Investigator II Inten Supv,6325.00,9505924,08dc72fb-ce41-4ff9-847c-85c36bff16be,12/18/1989,29
233888,2018,2,2018Q2,671,Investigator II Inten Supv,18280.46,1804236,6397a995-47b1-4c85-b06f-79b3896ac3e1,01/02/1991,27
234246,2018,1,2018Q1,671,Investigator II Inten Supv,6082.00,9505923,10f476b5-f6e7-4f64-b6f1-3a8f270c7364,03/02/1993,25

DataFrame for job code 1361:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
4198,2016,1,2016Q1,1361,Correctional Sergeant,17075.50,9505570,a3d589b3-b9f7-4612-87bf-85b430c6a966,09/20/1999,17
4201,2016,2,2016Q2,1361,Correctional Sergeant,19921.44,9505570,a3d589b3-b9f7-4612-87bf-85b430c6a966,09/20/1999,17
4204,2016,3,2016Q3,1361,Correctional Sergeant,17833.32,9505570,a3d589b3-b9f7-4612-87bf-85b430c6a966,09/20/1999,17
4207,2016,4,2016Q4,1361,Correctional Sergeant,21247.56,9505570,a3d589b3-b9f7-4612-87bf-85b430c6a966,09/20/1999,17
4210,2017,1,2017Q1,1361,Correctional Sergeant,18553.80,9505570,a3d589b3-b9f7-4612-87bf-85b430c6a966,09/20/1999,18
...,...,...,...,...,...,...,...,...,...,...
233812,2018,1,2018Q1,1361,Correctional Sergeant,6331.60,700208,8d7fde0c-eb69-475d-a13b-46a1d5bde102,05/29/2001,17
234002,2018,2,2018Q2,1361,Correctional Sergeant,16754.97,1804858,ae544c38-683e-442b-a416-3d01f6b665d9,09/20/1999,19
234020,2018,1,2018Q1,1361,Correctional Sergeant,20604.60,9508439,bc299971-062f-43ce-a681-425aa5439703,03/01/1989,29
234039,2018,1,2018Q1,1361,Correctional Sergeant,16846.88,9509112,889027ab-6e1e-4b7a-a5f9-ac073fc341b1,09/22/2014,4
234211,2018,1,2018Q1,1361,Correctional Sergeant,14983.36,1804061,8cae3742-ff37-4a84-97e2-6790fd6e95c7,11/28/2005,13

DataFrame for job code 2451:

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date,Working Year
8028,2016,1,2016Q1,2451,Operating Engineer I,21633.60,9502575,8ca0d434-8beb-488a-a1af-41df57b2e63f,04/19/1994,22
8030,2016,2,2016Q2,2451,Operating Engineer I,25239.20,9502575,8ca0d434-8beb-488a-a1af-41df57b2e63f,04/19/1994,22
8031,2016,3,2016Q3,2451,Operating Engineer I,21633.60,9502575,8ca0d434-8beb-488a-a1af-41df57b2e63f,04/19/1994,22
8032,2016,4,2016Q4,2451,Operating Engineer I,25239.20,9502575,8ca0d434-8beb-488a-a1af-41df57b2e63f,04/19/1994,22
8034,2017,1,2017Q1,2451,Operating Engineer I,21633.60,9502575,8ca0d434-8beb-488a-a1af-41df57b2e63f,04/19/1994,23
...,...,...,...,...,...,...,...,...,...,...
232664,2018,1,2018Q1,2451,Operating Engineer I,7355.20,9526411,6639dd96-0da2-4b94-a38e-4e8bd08daf6f,03/24/1993,25
233427,2018,1,2018Q1,2451,Operating Engineer I,22065.13,9502616,724415ce-76c8-4c51-8198-46eef87018d9,09/06/2016,2
233443,2018,2,2018Q2,2451,Operating Engineer I,26846.48,9502548,613c987b-ac50-4642-9bc4-3c565755dd63,11/16/2015,3
233768,2018,1,2018Q1,2451,Operating Engineer I,22617.24,9502551,bec8eac8-8206-4559-8f3c-95e120597b25,11/10/1997,21
234265,2018,2,2018Q2,2451,Operating Engineer I,27398.12,9502554,b10b7d56-68cd-41d5-8bc8-a6817f5e44cc,10/21/2013,5