In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split

In [2]:
# read table

dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)

# set default value to 0 for NaN numerical data
numeric_cols = payroll.select_dtypes(include=[np.number]).columns
payroll[numeric_cols] = payroll[numeric_cols].clip(lower=0)


payroll.fillna(0, inplace=True)
payroll['Office'] = payroll['Office'].astype(int)

# define column for 1/4 year discretization
payroll['Fiscal Quarter'] = payroll['Fiscal Quarter']*0.25 - 0.25
payroll['Fiscal Period'] = payroll['Fiscal Year'] + payroll['Fiscal Quarter']

pd.to_datetime(payroll['Original Hire Date'])

# parse hire date to get hire year
payroll['Original Hire Date'] = payroll['Original Hire Date'].str.split('/').str[2]
payroll['Original Hire Date'] = payroll['Original Hire Date'].astype(int)

_work_year = payroll["Fiscal Period"] - payroll['Original Hire Date']

In [3]:
# specify table column included

payroll = payroll[['Fiscal Year', 'Fiscal Period', 'Job Code', 'Job Title', 'Base Pay', 'Position ID', 'Employee Identifier']]

# add Working Year Column
payroll["Working Year"] = _work_year

payroll.head(20)

,Fiscal Year,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Working Year
0,2016,2016.00,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.00
1,2016,2016.25,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.25
2,2016,2016.50,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.50
3,2016,2016.75,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.75
4,2017,2017.00,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,12.00
5,2017,2017.25,1172,Assistant State's Attorney,24473.38,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,12.25
6,2017,2017.50,1172,Assistant State's Attorney,21217.35,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,12.50
7,2016,2016.00,5049,Residential Model Sr Anal III,17770.86,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,18.00
8,2016,2016.25,5049,Residential Model Sr Anal III,20800.67,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,18.25
9,2016,2016.50,5049,Residential Model Sr Anal III,17873.76,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,18.50
10,2016,2016.75,5049,Residential Model Sr Anal III,20904.80,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,18.75
11,2017,2017.00,5049,Residential Model Sr Anal III,18254.40,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,19.00
12,2017,2017.25,5049,Residential Model Sr Anal III,21375.20,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,19.25
13,2017,2017.50,5049,Residential Model Sr Anal III,18626.76,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,19.50
14,2017,2017.75,5049,Residential Model Sr Anal III,21802.46,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,19.75
15,2016,2016.00,1642,Attending Physician XII,57692.40,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,3.00
16,2016,2016.25,1642,Attending Physician XII,67307.80,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,3.25
17,2016,2016.50,1642,Attending Physician XII,57692.40,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,3.50
18,2016,2016.75,1642,Attending Physician XII,67307.80,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,3.75
19,2017,2017.00,1642,Attending Physician XII,57692.28,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,4.00

In [4]:
X = payroll[['Job Code','Working Year']]
Y = payroll['Base Pay'].values
X.head(10)

   Job Code  Working Year
0      1172         11.00
1      1172         11.25
2      1172         11.50
3      1172         11.75
4      1172         12.00
5      1172         12.25
6      1172         12.50
7      5049         18.00
8      5049         18.25
9      5049         18.50

In [5]:
#view target values
Y[0:5]

array([20088.  , 23436.  , 20422.82, 23904.8 , 20745.8 ])

In [6]:
x_train, x_test,y_train,y_test = train_test_split(X,Y,test_size =0.2)
# print the data
x_train

        Job Code  Working Year
186869      6837          9.25
71738       1437          2.25
163902      6156         25.25
151989       605         12.25
58600       1360          2.50
...          ...           ...
162857        50         15.25
45196       1531          1.75
154947      2318         12.50
110410      1360          5.25
151648      1360         26.25

[187439 rows x 2 columns]

In [7]:
from sklearn.neighbors import KNeighborsRegressor
# Create KNN classifier
knn = KNeighborsRegressor(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=3)

In [8]:
#show first 5 model predictions on the test data
y_pred = knn.predict(x_test)

In [9]:
#check accuracy of our model on the test data
knn.score(x_test, y_test)

0.6706814592505576

In [10]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

3359.413871247689

In [ ]:
# YANG INI JANGAN DIJALANKAN DULU YA GESSS :'

arr = []

try:
    with open('./cache/ids.txt', "r") as f:
        for _id in f:
            arr.append(int(_id))
except:
    if not os.path.exists('./cache'):
        os.mkdir('./cache')
        
    _index = payroll['Job Code'].unique()
    for _id in _index:
        counts = len(payroll.groupby(['Job Code']).get_group(_id))
        if counts > 1000:
            arr.append(str(_id))
    with open('cache/ids.txt', 'w') as f:
        for _id in arr:
            f.write('%s\n' % _id) 
finally:
   f.close()

# :return : <List> arr : list of unique job id

In [ ]:
# Group Job Code 1172 training dataset <<< PAKAI INI NGGIH

group_1172 = payroll.groupby(['Job Code']).get_group(1172)

_sorted = group_1172.sort_values('Employee Identifier')
fiscal = pd.pivot_table(_sorted, values='Base Pay', index=['Fiscal Period'], columns='Employee Identifier')

fiscal = fiscal.diff()

In [ ]:
# cleaned display table

fiscal.fillna(0, inplace=True)
fiscal = fiscal.drop(2016.00)

fiscal

In [ ]:


# neg_cols = (payroll[numeric_cols] < 0).any()

# if neg_cols.any():
#     print("Terdapat nilai negatif pada kolom: ", end="")
#     print(", ".join(neg_cols[neg_cols == True].index))
# else:
#     print("Tidak terdapat nilai negatif pada semua kolom numerik.")

In [ ]:
# SUDAH AMAN 👍👍

# null_cols = payroll.isnull().any()

# if null_cols.any():
#     print("Terdapat nilai NaN pada kolom: ", end="")
#     print(", ".join(null_cols[null_cols == True].index))
# else:
#     print("Tidak terdapat nilai NaN pada semua kolom.")

In [ ]:
# query job code indexing

for val in arr:
    new_df = payroll[payroll['Job Code'] == val]
    print(f"DataFrame for job code {val}:")
    display(new_df)