In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [3]:
payroll.drop(['First Name', 'Last Name', 'Middle Init', 'Bureau', 'Office', 'Office Name', 'Job Title'],axis=1,inplace=True)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,1172,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,1172,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,1172,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [4]:
df = pd.DataFrame({
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    })

df

     A      B         C         D
0  foo    one -0.363200 -1.397477
1  bar    one -0.346952  0.883251
2  foo    two -0.110294  0.312932
3  bar  three  0.673335 -1.940909
4  foo    two  1.378811 -0.166781
5  bar    two -0.332387 -0.854685
6  foo    one -0.669892 -0.793742
7  foo  three  1.157220 -2.570497

In [8]:
_index = payroll['Job Code'].unique()

for _id in _index:
    counts = len(payroll.groupby(['Job Code']).get_group(_id))
    if counts > 50:
        print(_id)

7603
20
182
346
6
5
1688
776
66
697
75
6
3
1
322
107
164
30
6
34435
1114
2480
4139
440
15
1685
390
9468
517
1043
4482
30
34
44
66
149
2072
556
215
17
658
378
226
169
191
374
548
1452
423
10
241
60
2148
277
574
234
322
46
3473
37
250
10
2764
1068
1072
8213
1071
105
6
605
630
35
6863
59
153
586
417
122
977
340
480
129
727
378
1245
15
68
271
372
44
245
40
30
4
176
1175
3340
10
37
23
189
20
43
56
338
3216
24
62
5
12
184
12
291
85
156
7
469
53
2113
24
8
1325
50
10
287
217
95
1790
74
153
249
65
249
5
204
30
1989
446
179
417
55
133
55
252
524
204
299
294
2275
17
105
153
113
9
11
517
2078
141
2190
1253
235
94
51
151
4
1
10
294
115
1003
62
44
155
86
20
131
12
1210
110
61
493
103
11
151
47
35
32
186
112
292
12
66
33
466
318
244
34
10
10
102
8
19
255
36
6
5
10
123
301
10
98
114
63
14
45
8
645
34
1735
48
95
533
180
10
296
147
211
173
10
451
147
354
101
227
878
243
131
83
74
199
217
67
64
79
8
56
102
214
403
266
1108
42
47
78
150
51
352
336
110
277
174
333
296
36
2
116
504
39
43
9
11
101
376
8
102
179
595
142
59
10
84
767
10
197
568
86
176
28
252
30
103
12
120
4
81
9
191
108
20
2131
88
255
718
211
38
12
100
22
83
102
177
31
89
89
299
169
475
10
151
33
10
46
279
12
113
85
12
139
30
10
30
222
211
91
321
21
16
25
337
276
51
858
51
13
1
10
12
37
30
13
1
104
51
10
549
20
128
68

KeyboardInterrupt: