In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment, date_parser='Original Hire Date')
payroll.head(2)

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.0,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.0,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [10]:
emp_id_nums = payroll['Employee Identifier'].unique()
job_id_nums = payroll['Job Code'].unique()
print(len(emp_id_nums))
print(len(job_id_nums))

28375
2382