In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)
payroll.head(2)

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.0,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.0,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [20]:
payroll.drop(['First Name', 'Last Name', 'Middle Init', 'Bureau', 'Office', 'Office Name', 'Job Title'],axis=1,inplace=True)
payroll.head(2)

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,20088.0,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,23436.0,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [21]:
_index = payroll['Job Code'].unique()

_ids = []

for _id in _index:
    counts = len(payroll.groupby(['Job Code']).get_group(_id))
    if counts > 1000:
        _ids.append(_id)
        
print(len(_ids))

38