In [55]:
import pandas as pd
import numpy as np

In [56]:
dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [57]:
payroll.drop(['First Name', 'Last Name', 'Middle Init', 'Bureau', 'Office', 'Office Name', 'Job Title'],axis=1,inplace=True)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,1172,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,1172,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,1172,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [58]:
pr = payroll.loc[payroll['Job Code'] == 1172]
pr

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,1172,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,1172,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,1172,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
...,...,...,...,...,...,...,...,...
234141,2018,1,2018Q1,1172,26268.82,9510272,fb4194e5-0b14-4019-b0eb-7eae796c8cc4,08/21/1997
234146,2018,2,2018Q2,1172,28039.76,9509780,4fca97bc-ed5d-4ab9-b130-d0587d222594,03/29/1993
234177,2018,1,2018Q1,1172,23247.67,9509854,21703b65-7357-45b0-a256-cc06393750d5,08/09/2004
234179,2018,2,2018Q2,1172,25252.64,9509965,c3b70364-77a0-4300-be9f-11bf5e869c87,02/14/2000
234294,2018,2,2018Q2,1172,19001.95,9510048,ac4574b1-d301-44a7-a220-d3aafb5e9ec3,01/28/2013

In [54]:
len(pr.axes[0])
pr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7603 entries, 0 to 234294
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fiscal Year          7603 non-null   int64
 1   Fiscal Quarter       7603 non-null   int64
 2   Fiscal Period        7603 non-null   object
 3   Job Code             7603 non-null   int64
 4   Base Pay             7603 non-null   float64
 5   Position ID          7603 non-null   int64
 6   Employee Identifier  7603 non-null   object
 7   Original Hire Date   7603 non-null   object
dtypes: float64(1), int64(4), object(3)
memory usage: 534.6+ KB

In [85]:
_index = payroll['Job Code'].unique()

_ids = []

try:
  with open('../Datasets/ids.txt', "r") as f:
    arr =[]
    for line in f:
       arr.append(int(line))
    print(arr)
except:
  for _id in _index:
      counts = len(payroll.groupby(['Job Code']).get_group(_id))
      if counts > 1000:
          sid = str(_id)
          _ids.append(sid)
          
  with open('../Datasets/ids.txt', 'w') as f:
    for _id in _ids:
      f.write('%s\n' % _id)
finally:
   f.close()

[1172, 1942, 1360, 2051, 48, 1794, 50, 1941, 51, 1328, 1570, 1966, 906, 551, 5425, 2143, 6824, 1333, 1341, 907, 4826, 1355, 47, 4220, 605, 2412, 606, 46, 11, 1567, 1339, 1, 936, 1878, 5296, 671, 1361, 2451]