In [11]:
import pandas as pd
import numpy as np

In [12]:
dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [13]:
payroll.fillna(0, inplace=True)

In [14]:
payroll.drop(['First Name', 'Last Name', 'Middle Init', 'Bureau', 'Office', 'Office Name', 'Job Title'],axis=1,inplace=True)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,1172,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,1172,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,1172,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [15]:
pr = payroll.loc[payroll['Job Code'] == 1172]
pr

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,1172,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,1172,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,1172,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
...,...,...,...,...,...,...,...,...
234141,2018,1,2018Q1,1172,26268.82,9510272,fb4194e5-0b14-4019-b0eb-7eae796c8cc4,08/21/1997
234146,2018,2,2018Q2,1172,28039.76,9509780,4fca97bc-ed5d-4ab9-b130-d0587d222594,03/29/1993
234177,2018,1,2018Q1,1172,23247.67,9509854,21703b65-7357-45b0-a256-cc06393750d5,08/09/2004
234179,2018,2,2018Q2,1172,25252.64,9509965,c3b70364-77a0-4300-be9f-11bf5e869c87,02/14/2000
234294,2018,2,2018Q2,1172,19001.95,9510048,ac4574b1-d301-44a7-a220-d3aafb5e9ec3,01/28/2013

In [16]:
len(pr.axes[0])
pr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7603 entries, 0 to 234294
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fiscal Year          7603 non-null   int64
 1   Fiscal Quarter       7603 non-null   int64
 2   Fiscal Period        7603 non-null   object
 3   Job Code             7603 non-null   int64
 4   Base Pay             7603 non-null   float64
 5   Position ID          7603 non-null   int64
 6   Employee Identifier  7603 non-null   object
 7   Original Hire Date   7603 non-null   object
dtypes: float64(1), int64(4), object(3)
memory usage: 534.6+ KB

In [17]:
_index = payroll['Job Code'].unique()
_ids = []

try:
  with open('../Datasets/ids.txt', "r") as f:
    arr =[]
    for line in f:
       arr.append(int(line))
    print(arr)
except:
  for _id in _index:
      counts = len(payroll.groupby(['Job Code']).get_group(_id))
      if counts > 1000:
          sid = str(_id)
          _ids.append(sid)
          
  with open('../Datasets/ids.txt', 'w') as f:
    for _id in _ids:
      f.write('%s\n' % _id)
finally:
   f.close()

[1172, 1942, 1360, 2051, 48, 1794, 50, 1941, 51, 1328, 1570, 1966, 906, 551, 5425, 2143, 6824, 1333, 1341, 907, 4826, 1355, 47, 4220, 605, 2412, 606, 46, 11, 1567, 1339, 1, 936, 1878, 5296, 671, 1361, 2451]

In [18]:
pr = pr.sort_values(by=['Employee Identifier'], ascending=True)

In [19]:
fiscal = pd.pivot_table(pr, values='Base Pay', index=['Fiscal Period'], columns='Employee Identifier')
fiscal

Employee Identifier,007ca4de-de2b-44ac-bf71-6eb4cbdc27e2,00d20c14-93d4-4560-a10d-3e41c1fafd07,00d3e7d2-9397-4a16-a556-80056ebbf456,00e833c8-ecbf-4e2c-9b66-9472d1949d79,01143446-4dfb-4327-840d-fb8b88fe78c3,0163b34b-b1d9-4b9c-aa9e-90df3b8fd9af,017d1eb1-6574-48f1-9bd9-536eb23a2219,019f5fbb-4afd-4bd7-a254-eb03660a979f,01ee96aa-5bdb-4694-b3cb-be2a2960a4d2,028d2bca-7dab-4294-a9fc-f4371956438b,...,feafd46f-ba8a-41c0-b72e-0cc961d66b01,feb07f2b-e7cd-40ec-9b95-103ef2246d6c,febdb26a-8424-438a-8a5d-fbc3c17d1ab5,fecb6d8c-da1b-4752-a4d4-14de89f24c46,feccda27-41c4-475e-8f78-cc16adff92b2,fef3a6ad-266b-44b5-96f5-2952dc364b38,ff131ab6-ce88-43ad-b6c1-64507471dc08,ff3dd422-b4e5-4b17-87be-23a558efb62e,ff9f0a14-2aa1-4ff5-8ad2-8b4db9a3d719,ffa8ef63-a6ed-49c2-8b32-f4bbbba79851
Fiscal Period,,,,,,,,,,,,,,,,,,,,,
2016Q1,16129.410,15498.23,7155.09,25521.60,22305.11,16129.41,23329.89,16954.99,27780.00,19206.72,...,NaN,21865.41,28480.800,15192.49,NaN,21865.39,14892.48,30087.41,14892.49,27780.000
2016Q2,18817.660,18081.28,16695.26,29775.20,26022.63,18817.67,27218.23,19780.87,32410.00,22407.83,...,NaN,25509.67,33227.600,17724.57,NaN,25509.64,17374.57,35101.92,17374.57,32410.000
2016Q3,16398.240,15756.64,14548.63,25946.80,22676.71,16398.22,23718.73,17237.43,28243.20,19526.71,...,NaN,18512.72,14854.645,15445.67,NaN,22229.82,15140.90,30588.98,15140.90,18797.870
2016Q4,13710.000,18443.04,12163.60,30370.45,26542.82,19194.00,27762.57,20176.23,33058.47,22855.81,...,NaN,NaN,39168.030,18079.04,NaN,26019.82,17722.36,35804.17,17722.36,NaN
2017Q1,NaN,16005.91,NaN,26357.05,23035.42,16657.59,24094.08,19934.59,28689.82,19835.52,...,NaN,NaN,33992.250,15848.31,11538.46,22581.53,15380.59,31072.88,15380.60,NaN
2017Q2,NaN,18719.68,NaN,30825.76,26941.01,19481.81,28747.03,23314.48,33745.76,23198.57,...,12139.92,NaN,39755.540,18719.68,40384.61,26410.18,18143.38,36341.20,18078.46,NaN
2017Q3,NaN,16045.44,NaN,26422.03,23092.31,16698.70,24640.33,19983.82,29048.16,19884.51,...,22412.16,NaN,34076.180,16045.44,34615.38,22637.28,15728.61,31149.60,15495.79,NaN
2017Q4,NaN,18500.74,NaN,30554.13,26936.80,19203.53,28336.37,23176.07,33405.40,22867.17,...,25773.98,NaN,39187.580,18452.26,39807.69,26252.82,18087.85,35822.04,17820.18,NaN
2018Q1,10159.735,16575.31,NaN,NaN,23558.40,19043.87,24743.14,20386.61,14524.10,19884.51,...,22599.76,24743.20,34218.220,16411.68,11538.46,23768.46,15926.40,31541.60,15624.64,14524.105
2018Q2,24753.680,19386.06,NaN,NaN,27484.80,23314.46,29473.36,23784.36,16993.40,23198.59,...,26865.20,28891.02,39954.360,19386.05,NaN,26941.03,18841.24,36890.00,18574.17,16944.785

In [20]:
fiscal.diff()

Employee Identifier,007ca4de-de2b-44ac-bf71-6eb4cbdc27e2,00d20c14-93d4-4560-a10d-3e41c1fafd07,00d3e7d2-9397-4a16-a556-80056ebbf456,00e833c8-ecbf-4e2c-9b66-9472d1949d79,01143446-4dfb-4327-840d-fb8b88fe78c3,0163b34b-b1d9-4b9c-aa9e-90df3b8fd9af,017d1eb1-6574-48f1-9bd9-536eb23a2219,019f5fbb-4afd-4bd7-a254-eb03660a979f,01ee96aa-5bdb-4694-b3cb-be2a2960a4d2,028d2bca-7dab-4294-a9fc-f4371956438b,...,feafd46f-ba8a-41c0-b72e-0cc961d66b01,feb07f2b-e7cd-40ec-9b95-103ef2246d6c,febdb26a-8424-438a-8a5d-fbc3c17d1ab5,fecb6d8c-da1b-4752-a4d4-14de89f24c46,feccda27-41c4-475e-8f78-cc16adff92b2,fef3a6ad-266b-44b5-96f5-2952dc364b38,ff131ab6-ce88-43ad-b6c1-64507471dc08,ff3dd422-b4e5-4b17-87be-23a558efb62e,ff9f0a14-2aa1-4ff5-8ad2-8b4db9a3d719,ffa8ef63-a6ed-49c2-8b32-f4bbbba79851
Fiscal Period,,,,,,,,,,,,,,,,,,,,,
2016Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016Q2,2688.250,2583.05,9540.17,4253.60,3717.52,2688.26,3888.34,2825.88,4630.00,3201.11,...,NaN,3644.26,4746.800,2532.08,NaN,3644.25,2482.09,5014.51,2482.08,4630.00
2016Q3,-2419.420,-2324.64,-2146.63,-3828.40,-3345.92,-2419.45,-3499.50,-2543.44,-4166.80,-2881.12,...,NaN,-6996.95,-18372.955,-2278.90,NaN,-3279.82,-2233.67,-4512.94,-2233.67,-13612.13
2016Q4,-2688.240,2686.40,-2385.03,4423.65,3866.11,2795.78,4043.84,2938.80,4815.27,3329.10,...,NaN,NaN,24313.385,2633.37,NaN,3790.00,2581.46,5215.19,2581.46,NaN
2017Q1,NaN,-2437.13,NaN,-4013.40,-3507.40,-2536.41,-3668.49,-241.64,-4368.65,-3020.29,...,NaN,NaN,-5175.780,-2230.73,NaN,-3438.29,-2341.77,-4731.29,-2341.76,NaN
2017Q2,NaN,2713.77,NaN,4468.71,3905.59,2824.22,4652.95,3379.89,5055.94,3363.05,...,NaN,NaN,5763.290,2871.37,28846.15,3828.65,2762.79,5268.32,2697.86,NaN
2017Q3,NaN,-2674.24,NaN,-4403.73,-3848.70,-2783.11,-4106.70,-3330.66,-4697.60,-3314.06,...,10272.24,NaN,-5679.360,-2674.24,-5769.23,-3772.90,-2414.77,-5191.60,-2582.67,NaN
2017Q4,NaN,2455.30,NaN,4132.10,3844.49,2504.83,3696.04,3192.25,4357.24,2982.66,...,3361.82,NaN,5111.400,2406.82,5192.31,3615.54,2359.24,4672.44,2324.39,NaN
2018Q1,NaN,-1925.43,NaN,NaN,-3378.40,-159.66,-3593.23,-2789.46,-18881.30,-2982.66,...,-3174.22,NaN,-4969.360,-2040.58,-28269.23,-2484.36,-2161.45,-4280.44,-2195.54,NaN
2018Q2,14593.945,2810.75,NaN,NaN,3926.40,4270.59,4730.22,3397.75,2469.30,3314.08,...,4265.44,4147.82,5736.140,2974.37,NaN,3172.57,2914.84,5348.40,2949.53,2420.68

In [21]:
null_cols = fiscal.isnull().any()

if null_cols.any():
    print("Terdapat nilai NaN pada kolom: ", end="")
    print(", ".join(null_cols[null_cols == True].index))
else:
    print("Tidak terdapat nilai NaN pada semua kolom.")

Terdapat nilai NaN pada kolom: 007ca4de-de2b-44ac-bf71-6eb4cbdc27e2, 00d3e7d2-9397-4a16-a556-80056ebbf456, 00e833c8-ecbf-4e2c-9b66-9472d1949d79, 04551bc0-153c-4448-92ad-371d2e12ca5b, 049ff267-0d7f-4349-b9a0-b93e35e7df2b, 05107c16-8eac-4adc-bc9b-0bbe7688aee6, 0519f003-270b-4037-b009-2d2831e3189e, 0607e015-36ed-4ac4-9b47-3811973034e5, 06609981-7b75-49ee-ba69-11c1eb794f00, 068d4f67-f5be-40be-9bec-70470e35c1a1, 070e6190-8828-498f-b1d0-6ceb497796c5, 08231b6d-0846-4fcb-a24b-68b05eb1ba5a, 08e43d20-533c-4976-83fa-edb8fe2bd3bb, 091575cc-5f56-44f6-9dc3-eaee379e998d, 09cbb2c1-08a4-42ea-a5fb-08961e943d9f, 09e8fb5b-4d5f-42dc-b2ae-adc2b2ca4b60, 0ade6e51-e762-4659-b550-89b34e6f26f5, 0b5f9ab9-a2d9-4b19-8ad1-5da59ffe03aa, 0c5dcd1e-f14f-42bb-8283-34e6a76bd971, 0ca56e54-3f88-4103-8cc5-24fe3a06fdc7, 0ddaa4c3-3870-4f15-a3df-2a1d404ce9b1, 0e46aafe-3a26-4482-bd7e-b969abc45564, 0f0a3d63-4bd2-4f9e-aee8-9b8af4cbe7dc, 0f127303-3828-4de1-8681-0d793de55f65, 0f2945c3-feb2-4cce-8880-0d45fcf75f21, 0fb9368f-2c8e-4c67-80ee-c96818389701, 0fd1683d-147b-498f-9199-e4b8cc5bf2c2, 11d5d9ee-530f-426b-bd9d-2ec7a7b1b168, 11e7735b-2810-4dbe-870e-227f708f7b72, 12a14e65-8b99-498d-a056-735a79f28bba, 1324adad-3737-4019-92bc-86859577fba2, 136ff8c5-cdd1-4a37-8211-acb53d216f77, 145e6ece-1bb4-495e-9465-10dd2a91c2d5, 152a2e5e-95aa-4150-9e7e-612d22846520, 15a14e3e-9800-4015-b1d1-37e65d5380e9, 15c48859-3fe1-400d-b222-cfe5dd9de5e4, 1601da07-fc89-4147-a311-785e3e0a5e3b, 1747cbb5-b3b7-4ff4-8fd2-4529de2c517f, 17dda55a-f416-4d8b-b080-8a114bc5342b, 17ff6323-03f0-4c86-97d5-ea609b645f18, 1841543b-3020-4952-b316-cbc24ffd7e91, 18b5f7c7-dc42-46cf-a1f3-4caf0355d051, 18e411ea-05f3-462c-9b45-33a33fb39264, 195e6f08-fb1d-46ac-9bcf-356a89bd962a, 1979b1e0-95c9-4880-b6ea-0ddffb94f9f9, 19bcb390-8952-44cf-90b7-b42c60fe3abf, 1a5a6c96-b2d4-4e2d-b25c-de4c72cafa94, 1b45e1ba-9268-49f9-bc0a-237d2205470a, 1bc14b73-ceb7-4ad1-89d2-40c4e18a5504, 1ec143d1-9af0-43cb-bc35-dbfb9d3bb689, 1f9043ac-3591-4297-ad45-21b7e74c3df5, 2022dfcc-f792-402e-a6c5-12795b6bbc14, 20259ea2-92e3-4db4-8396-0c2fe1ea739e, 204a7d5d-c054-41ba-8f0c-6230faac2fa9, 20dcbfe1-148d-421f-a0a4-677e79637497, 2219a7ef-02ff-4ff1-bf18-b97be0b1984d, 22afcd5a-9818-4814-a7d0-a9e52a9f72bc, 22c7ee34-ddaf-45f6-b302-b5c150f6ff39, 22f9368f-26a2-40d2-91c1-0453b3ee2be7, 240e6d22-1319-4ef7-8555-cf649daf5e6b, 24aa8f96-39d3-4830-ac2d-dd61d1701337, 24b0227b-c40c-4cd5-b559-ea3c6e7ebc83, 261a476e-b113-4d50-b56c-4924e4d36560, 26256056-18eb-417f-80a7-abd5be09f76b, 2767dd2a-f647-4fb0-9ae0-0e4ffd54124d, 277d4e5f-0717-4226-80aa-e561f351230c, 2781dcbe-66da-443e-ad1f-1beb2ea96810, 292c3cee-9e9f-4a03-83eb-533ed1970df8, 29b96dea-319e-472b-a035-1be0afec3900, 2ada68e8-57c2-473f-8e8c-b4c7e6e73ca0, 2add11d5-7359-4c94-a292-4ae2306a3e22, 2af9fe71-ec3d-438c-ac2e-2a5f1ad98a24, 2b024295-5aa0-4de6-ad91-ba39ce3b55c6, 2cd82acd-b021-47f9-abde-234de2aee1a3, 2d01834a-4a45-4ea6-95d5-d1c175931eaa, 2e50388a-6a5f-4539-908d-65012d2d73d2, 2e741295-6c2c-4bcc-a3b5-9179cafae4a3, 2f865bc4-5202-4719-b9e6-c1ce10cdc219, 3007c60c-e52f-4f4a-abb1-20583e455bf4, 300f4ee6-43c7-46e4-bb0f-cb75ad0185c4, 30186ab3-af29-4893-bfbd-4bdd759e3528, 322c2c3e-30c8-4455-a899-b6604a61a90d, 3293e75e-81e8-42e3-8ec7-f80385779f37, 3316e5ac-a404-4366-bdfe-8620611bb171, 35b693eb-9d60-4c87-aa0b-19230deed652, 35c2c8f8-e962-410f-b485-22596c5421e0, 3642df65-b6ea-481f-a25c-d0765297e787, 36f535c8-349c-4ecf-adcc-2d7ea1b4dde7, 376f4c70-9f91-4ba3-a7db-03cce3b1f53e, 38a03a7c-ede9-439d-9754-077735b81c94, 3a185916-dbd6-45e4-b981-6ac9fe05f5af, 3a6aaa5e-bea6-4b8d-95e2-329cc07c00a5, 3ae03385-20b5-42ed-bd15-99f94995cd5d, 3ba025ee-ed81-4e41-a6a5-f19871ea074c, 3ceaa3f5-07ab-4df2-aacc-0bfcd09d4291, 3e18fce2-b620-4151-a185-abf61810bcaf, 3f6e886d-88d1-46b6-b3c6-43007bf2e814, 3faa4750-3221-4562-b905-cb574e96e06b, 41d3d484-8f9e-4ee2-ba48-bd9c8464d37b, 42b80d30-70eb-4f51-b298-4985c917d30f, 42dd8354-ee55-40b4-838e-970cb8a27d42, 437e8ca2-6a1b-4bd6-a827-501c6397a0c6, 43b80c5a-70f2-44ee-a45c-2e85694bf914, 447cdf64-2455-4e2f-852c-1df1b334e454, 44893737-75a6-4159-939a-55ae62ae4895, 45801cc8-1264-4984-ac41-dfe1bf2e6a09, 4659214b-c425-4905-a821-f432f6ae0bb9, 46808ca9-e9bb-45c9-9cdd-659e002e091f, 468e4f9f-8145-42a8-9f3f-120413208411, 47b3d82f-d687-4d4d-8b46-ec62cb80b365, 48b8c78b-182f-4c4c-a266-9d77171742ad, 4926b8fc-bec5-4fca-88e0-d87526cf8ff4, 497be56f-9b16-4f80-aad9-2c4e45df4356, 49829e3e-df8e-4833-8918-abd867901151, 4ad9abd9-9ad8-4c0c-aa4f-36a0e2def300, 4ba00e5c-50fb-4a9e-ace1-3142d5499dab, 4c163181-3db1-4963-a805-c103e1aa4b20, 4c2e1baa-ada0-4297-9182-e0c8b0e73dfa, 4cd18cbb-71d6-4425-a1f0-6990db2114fd, 4d124fbb-dc86-4a1a-a64c-b5a4a2de9b11, 4d334616-1b2b-403e-a3be-f160e5c5c766, 4de10f04-c33f-42b7-a0ae-dffaad7e04e8, 4ec5bc47-aab5-4cc0-b5a2-8e78c35c533d, 4f590466-1637-46d9-88c8-65efdea3c8ac, 4f8f8f3c-f2ac-4fae-997c-a9d1e87d57f8, 502b18c1-1f4c-4bf2-a74e-95bcd3b16215, 502b9f28-3b2c-46b9-8fd4-3e1c2ea8005d, 51fd3570-d348-44a4-af1c-131b9f5f9845, 52e5deec-33a3-4599-912d-d55245458685, 53825833-b3b9-449f-ab45-219b59171c5e, 53e692da-88c0-4bd1-878f-422a22129859, 5404104f-949e-41d7-aee7-cbdf8fc98420, 561947a3-65b5-47c2-acb5-a8115de3170c, 57832dd7-cade-472a-99f7-90a64a615efd, 59331463-ca7a-4d9a-8880-6017cc6ffb09, 59743de1-1a88-4666-bf80-4a9df53be296, 59db12ef-dc8b-45bc-b8a6-7e8294f97276, 5a78539c-66d4-4492-b38e-793946a57e78, 5b478d46-a7a6-481d-8c58-ecc17eb62fab, 5bf5f977-d22b-4065-9975-121abf217743, 5cc3942e-6a57-46a8-91fb-b0c626105b48, 5d255d87-0a29-49f0-8653-f627d44ea3ad, 5d40bc67-de4d-4b07-a483-660ddefa12f0, 5e79101f-768e-40f2-9db1-23e650aad3de, 5ed39dde-4c90-4584-b225-57b3ecb6c72b, 5ed6d888-ab7c-410b-b3db-5a6d4ced553c, 5f74b3b8-354f-4cea-9417-6aa175ba6059, 5f7b061b-a1a5-4e1e-84f4-85d9b28f3d8e, 5fdfe95b-0636-4e2a-9ae2-1c7e7a2d1e9a, 606e4fc8-40ba-4fa0-a2ee-3500e99d5fb9, 608a0094-c4b2-4832-9884-4b4be86194cd, 60ebe594-bc2f-49bf-8a36-c695e47cddf3, 6127eee5-1ba7-4766-be21-230d4263629c, 61420487-035f-4685-957d-ff3119e44e1e, 6291391e-2c1f-4ade-b08d-8f81120c8aea, 6693c3ba-773f-4785-86ff-0cb76210145d, 6698a6d4-0471-4c6c-97bd-4eacc3800362, 66b353a8-9030-4cc9-97b4-2a29984b6a3d, 6872be53-7165-4f43-875f-863d34b6d610, 68feb5c4-da94-4e5d-ad3d-97e33b7e9251, 6a3eca16-290b-49a0-bee2-4ecb66fd7b4f, 6a87f5ef-be2d-4dbc-8af7-2fcb0bf63dd2, 6ac7ba3e-d286-44f5-87a0-191dc415e23c, 6af6f6fb-1af7-46ae-90c2-c202589e05f8, 6b208076-d54c-485d-8149-b71b9db63582, 6d457925-3951-488f-aab4-dfdc492c6f20, 6f7dcbf8-770e-45e2-aafc-fa55701fcfc3, 705efa76-61cd-4523-b2f0-ed5af84fa473, 709c7fcb-4140-488b-9ab2-3090c4ee9c8e, 71080625-6efc-49ac-b474-071e72043c58, 7137944a-6bc9-444a-a8a1-33da5d442c8f, 71a9b5cd-9d3f-4eff-8010-50b2c4d14fa4, 71cd76ec-adaa-44ab-8705-a1e4131a5588, 722edaac-ef30-4139-bc6d-9bb19bcc9b20, 729367df-4e81-4fc2-9dfc-cc64ee75a29c, 72fd8b97-ba04-4d3f-9bb5-be3aa49226ca, 73489614-3182-4985-a20d-d4e520fd435f, 73d0309a-bbb6-46c3-ad8e-4ee1d568fbd0, 73f6b6e9-1708-4f69-92d5-7b87b5412513, 7428ef00-c8f7-4049-b8ee-f5e70ffc59b6, 75d09aea-76e9-460b-8bfb-7079ea15181e, 776e88a0-0b9d-4386-89f9-114c6b356fff, 77a62588-a449-4846-a8ed-3dca856c23e7, 780640d3-66c3-40e9-b8b4-f775a45ec1d0, 79613b14-fbb0-401a-8058-353f0745e9b2, 79e63a18-d93d-4cdb-abc5-ecfe44a6d0a6, 79f4f5e2-cd61-4040-a53b-43fcd0cc5cbb, 7b303473-c4e1-4171-9b01-9cd011229ab1, 7ba1a163-ce4f-4a48-88f5-3bccf361aaa9, 7c02fd64-8097-49b8-83e1-39cf0b2f9f02, 7c52ed6d-5544-4bad-b18a-c481066ebf23, 7d9c3a40-aabd-467c-ac5c-d9d2f476e657, 7f404e00-8a61-4224-b457-cfc3e11163de, 7f84505a-964f-4b5d-8085-1f95fef47485, 8270bba2-a414-4475-83df-3cf2dab81acc, 83e3747e-aedc-4c89-8ef5-ff9f841afa22, 8459a76c-9f1d-43c4-bc62-c2fca824dd96, 85387766-e4e0-4c77-ab93-c8fae874e3e8, 86453144-6cb1-49aa-b7d3-7f0ac914f639, 86e7ea9f-fb37-49df-8696-bc907fa30a67, 871a2f80-330e-4fdb-a80e-eea4f3a12eb5, 898271ac-24b5-4e32-806b-6206565ab707, 8a8a308c-b29d-468a-93e7-7e19479dbe05, 8daa5f5e-6263-4662-834d-0daa31f83b0a, 8edeb103-47ce-4cd2-acff-1537dbf330f2, 8eeaf38c-6ab2-46a7-81c9-f80dea311fa3, 9026d1c6-d294-41ef-aab2-db9593688bd8, 903a201e-94f1-4520-adc4-c209b1de50a0, 907d5c75-f609-4b66-a0d9-f487e62008bb, 90b3ba3f-f4c3-4b91-b476-75609616468b, 9139828f-090e-4efd-8e7a-f6240272a1b5, 919c0026-6f3a-46d1-9870-42637f80a129, 91bebecf-24ac-4aec-af89-cdaa7c41f7d8, 925c2306-88e0-41f0-8b9f-3cbb82c6c81d, 94384ec1-9fcd-4012-89fc-c36e808c9efa, 946076a3-19d6-4bac-a310-a4f06da96ab1, 9471505e-1935-49bd-9376-ca7880f5956b, 94f95d40-ce3c-42dd-89ac-c4692faa2fcc, 95072632-cf04-4786-a28d-0ce9a3b9d231, 9525996e-b187-4180-aedd-4b69f8bdcab3, 952768cf-f5a7-4958-bd69-5b4ef7f57f56, 953b8b33-d09c-4b76-9042-ac4e98b9f542, 958ae8a7-5ce6-42a0-8443-268eb2b73824, 9710c653-1d82-4b75-b037-05b3c507deb5, 9723b223-7a44-4dd2-8a79-af8f31eb2782, 973dc3fc-e1b9-4c68-a867-a17fed327326, 97627ab6-c13c-47d8-be18-832fdb6dcf9c, 98904186-ead5-4dd9-b986-38955b080823, 98bda20b-c844-4b7c-a9e3-1023a5b659e3, 99104e23-c5e8-466e-ab8c-33216ff2e209, 99dc3f3d-1f16-43c4-8041-60c7def0db34, 9a03a4bf-4f06-4f42-8a3c-2cf43a87eb90, 9a648f79-2a23-4f22-9bcd-1ff6b4aacadf, 9d07d570-ae74-4046-9494-26873d12a12f, 9d21508a-8c62-4d79-a75a-a598b0169a9a, 9dbea4d9-e255-4249-8e2f-9bd1de874b1d, 9e42a1a8-cf18-4440-bc2c-c59799e26594, 9ea041eb-f64b-460f-ba38-96bbdb394120, 9ed39c69-e39e-464f-b0b7-be94c0fac10e, 9f1b7681-dc02-4dbf-b667-f6de95a7f647, 9f5ae6d3-8cd8-44d2-aa0f-36ed59bf4fd9, a002c3a9-ec58-43e8-aee0-d67139bc65ec, a067cb3d-39bf-4b79-9e2c-8fe706a30347, a09d784c-1ba9-4370-ac76-8f1ddf0857fa, a0bd9097-5607-42bc-8f86-9112cf9a6253, a16865f3-af31-486a-8f8e-9b4226c01cfd, a1ad627e-f835-4ddd-9cd9-e82d2a59787e, a1c0749f-94a4-4072-9f16-e5836c52664f, a45a60a6-4504-4033-b0c9-72e747d768c7, a4c17d6e-f15e-4db2-8f5b-f9bbb85b3f5f, a5887c50-3f17-46f2-a8b4-db4a0e1dccb0, a5c042e5-0d62-4dd2-afba-825c45727afd, a6a42b17-d02b-4be3-b28f-121a6b4d5931, a78be07b-4804-44c2-b3b5-a584c8d4b848, a8dc2d09-b88c-4083-b361-739a6f1915c4, a9339376-bad7-4eec-96db-46ca02bcbf80, a9ac9955-8dd8-4d6b-be9d-99cfb1639510, aa24aa45-b7eb-40b1-9a9e-5dc6fb77c885, ab0c7d57-89d8-47ec-9231-abcbcae6c1d0, ab53f415-3170-4ccd-b9d8-297a550ec5fc, abc783dd-2512-4d9e-ab77-dcc67feff465, aca31376-6d5f-469b-90f3-8d047118c3f5, ad2f3b10-7375-4c95-ba3d-06664339e07e, aefa1040-f3d3-4d68-a664-52da6e9c14a6, b02db167-ff8c-48fd-b9c0-b26887ba10ca, b050a23a-63e3-4639-9076-cebe544c6cb1, b0879e42-92e5-42ee-84fc-edbd7cdf46de, b3d95553-d8d2-4a3a-9040-8db4b6c9560f, b3e1466c-55cb-4d13-8c01-a5c42f29df8f, b4035ab3-0d94-4000-b4c8-2cefd9b47cce, b429cee9-0290-4730-9f67-ba1fb2c27866, b42f48e5-7f93-4e23-bfda-aada9da94c0b, b64c63b5-ad56-4487-b3b7-fa23a443f63c, b6532edf-3cd3-46eb-9b81-785495b99353, b75923af-3298-472a-bd55-274213e5c316, b820603a-4866-4a09-b229-a7d11cf8e195, b8730373-7c82-4fed-a2c9-6944b49c36d1, b915f56f-4481-45aa-ad4d-5558cc0f31c0, b9278428-7d76-4910-b0bb-eb1ac1802f9e, b952d964-7bd7-48ea-a357-6d75519f3a7d, b9bc8651-d029-4226-93ce-101629294a60, ba29cdee-fb1a-4bd1-84d7-ad13fb51776f, ba80ce8d-ef17-44a8-ab10-ddbd78daf9c6, bbb84f63-7a1a-440c-a22f-f2ce7c12831a, bbf112a9-e269-4fb6-9429-da15dbc1cc23, bd12f535-0c25-4494-992e-e806be5b853a, bd17138d-0887-4d91-90b8-7874d17b8445, bd1fe02a-25a2-4878-9aa2-a599c0ddbd1e, bf9868f8-d846-4762-973d-e1dbaaba0ec6, c0a051a4-8d5c-4215-b920-29bdff32a88a, c1a7ce0d-116a-43b6-a773-dfb344d94c14, c1cc08bc-b49b-4611-ba29-466f8944a023, c3dbf20d-7642-47a4-87f8-941536daa32a, c512e7e6-5a1b-49bf-acfa-c473d88b79e6, c520c5ac-fecb-423b-a3e6-db113b4c1c1a, c528461f-0b93-4bbe-b67a-57a7eceed348, c556aa72-1e5a-49b8-a285-d315c5064362, c5da3f95-a7e9-4db8-8f43-639c036ea505, c684b950-569f-4746-b468-7d15e8a1fd5f, c70a64b9-68d4-4af2-bf9d-55336a905774, c76262c0-a339-4350-840e-b36d2f24dbfa, c77ffef2-d56b-499c-9329-931786e93abd, c85f1422-0266-4abc-841e-9a87e8184bd7, c95b6dae-238d-471b-8efc-9e6244acaba3, c9f173a2-d3ed-4920-a226-1b56521e364c, ca28c574-6383-481e-b29f-4642b86107ef, ca29640c-57fe-4e06-ab8a-d3b8dd65853f, ca7f8a24-1ca0-4bcd-bc6d-a7990f17d624, cb39b540-781d-48b7-805d-788910323c9d, cbfc6a42-d568-4fd9-a14b-dad2572da297, cc8df6a5-ab0c-4cdf-95a2-4e64daaf5ea4, cd6d2e65-19de-412c-93b4-aa59d08eef04, cead7c0a-0821-4418-bc4a-33c395eb8695, cf5c6396-09e4-45a6-8708-d612d366abc2, d04e6cb9-dfdc-4d85-a427-c6b805afea82, d0aeb481-8f9f-424c-a880-2444b64ba216, d0bbc68c-026f-4f3f-99be-e3cbd089b71a, d1b2e469-2ee7-43cf-87d5-97713211eb9b, d1da9010-b324-4513-80b1-72b3f012f29c, d2228100-a085-49e1-916d-a602048d5a0e, d23d1832-fdaf-4464-ae50-4c4d31bf974b, d2e94941-4c0c-4dab-94f5-81f2710c2f0a, d2eeaad2-62ab-4716-8f04-5f7dd9aa2e57, d300d129-7d5c-4776-9d96-3b55ec838749, d384c981-816a-4a22-a178-e473f08efeaf, d43c9b0d-1ead-4cd8-93aa-c7dce9f3f9c0, d5eec215-9201-4f70-8d43-dfaf1932462b, d69cfdd0-988b-4695-a02c-e8c396cd0e15, d72ba777-14aa-445d-9200-3fe4a7849ab3, d8145bd0-a472-4ea2-943b-02536e27eeca, d8f49e56-ea8e-44e6-a027-f15951eaef8a, d96c5a31-dbf7-46ab-a3eb-1c9228c4ce86, dba97e63-a2a2-4938-bc77-ab9b7dbada7f, dc01ec29-a9d5-44c9-933e-502c0ca35856, dc5267d9-9959-477b-9d19-730ed9185274, dcafdb74-70aa-453d-bfa0-a3a2df67de11, dcc2adf3-739d-434f-913c-d30464c5884c, dd3c2f8d-8b91-4865-8c19-6d224608789c, dd3d5956-c214-43e5-87d3-7cd5639562b1, ddcb57a8-5009-42a4-bbb4-0788dc1e3ec4, de03c4ce-059b-45a3-a8e4-3711a14591de, de620b2c-0832-400c-9e27-fa8aa53e35a2, df0cc2ec-8598-45e1-bf91-bc3272c7c3d1, e02e6b85-0230-48bb-9abc-973b218ce18e, e03867d0-b115-405e-a3bb-eceb8561ac0f, e0b6a9d2-08da-4101-b058-8684d22be634, e10b2623-9e1b-4dcf-95e9-977aa0a1dda2, e1c8f708-d2c0-4003-8150-277021cc06c5, e1eb8638-3916-415f-bfb0-a14ddc62be2f, e2ff53ea-48e8-424b-86d9-0e07b4f526c8, e469b8ac-5201-41b7-86be-4c465598ef43, e4f129ad-f94d-460c-a9ee-8642c53315ab, e62f4dca-0464-4fda-aa83-cf3b3e4fcae7, e661113a-8336-4fd1-ae56-fc9f72379559, e75e3a45-f5df-442a-8f1f-d3601a5cff7f, e7de7439-c81d-4cdb-831e-dcbbd8921dbe, e80f8ed3-e5f8-4e41-86ec-ef9338f2661a, e83ded62-d8ea-45aa-b55d-cba12a11e841, e92d19a5-3f8d-4807-9a14-dae5839afea2, e95b5f58-46cc-4e8b-8852-e6649ee3ffd7, eab582df-26f4-4625-89ec-77567c35eb7d, eae149b2-6a28-4a3a-86dd-df1544b41606, eb5b5992-a0ba-40cf-a507-b951a389bbcd, ec730d62-cde0-4be5-b3e6-d0ca7c07f07a, ed84f2b3-6fe8-4672-88e7-0361bd42ed6b, eea04529-7b75-4e27-a61f-65022df3ee55, eef52f8a-4e91-4c0f-847c-a5670721cfcd, ef4c5711-34b8-4887-896f-9c374f568448, f0f94b1f-d3a4-44f2-95c7-0b65cb7d047e, f1073f85-1a05-49fd-ab7a-1bd9e70311d1, f15b4c6e-2ef9-474b-9507-b37e0e05f173, f1b153aa-89d8-483f-96a7-9d98769940b4, f3b23925-7e1f-425d-bd03-1b704e8d04a0, f4937766-3590-47c5-a1a4-b89d08ad1062, f58172be-41ed-4d3c-972f-48cd619b5953, f6479780-834d-4c3b-bc41-a3d0f764f98e, f8a66bc2-ec55-4914-a8df-b09df98b9812, f8ffc853-4830-4553-80db-79849bc6264a, f90c0827-b3db-4bd5-be93-046c5aaba3df, f9b83c87-4941-444e-af39-abfddd183905, fa5cf793-bfc5-4792-9b3e-94ecec4458f1, fab4334a-1931-47f4-8819-751570b8a70b, fd179ba1-4935-4d3a-9e6b-86be86147874, feafd46f-ba8a-41c0-b72e-0cc961d66b01, feb07f2b-e7cd-40ec-9b95-103ef2246d6c, feccda27-41c4-475e-8f78-cc16adff92b2, ffa8ef63-a6ed-49c2-8b32-f4bbbba79851

In [25]:
fiscal.fillna(0, inplace=True)

In [28]:
fiscal = fiscal.drop('2016Q1')
fiscal

Employee Identifier,007ca4de-de2b-44ac-bf71-6eb4cbdc27e2,00d20c14-93d4-4560-a10d-3e41c1fafd07,00d3e7d2-9397-4a16-a556-80056ebbf456,00e833c8-ecbf-4e2c-9b66-9472d1949d79,01143446-4dfb-4327-840d-fb8b88fe78c3,0163b34b-b1d9-4b9c-aa9e-90df3b8fd9af,017d1eb1-6574-48f1-9bd9-536eb23a2219,019f5fbb-4afd-4bd7-a254-eb03660a979f,01ee96aa-5bdb-4694-b3cb-be2a2960a4d2,028d2bca-7dab-4294-a9fc-f4371956438b,...,feafd46f-ba8a-41c0-b72e-0cc961d66b01,feb07f2b-e7cd-40ec-9b95-103ef2246d6c,febdb26a-8424-438a-8a5d-fbc3c17d1ab5,fecb6d8c-da1b-4752-a4d4-14de89f24c46,feccda27-41c4-475e-8f78-cc16adff92b2,fef3a6ad-266b-44b5-96f5-2952dc364b38,ff131ab6-ce88-43ad-b6c1-64507471dc08,ff3dd422-b4e5-4b17-87be-23a558efb62e,ff9f0a14-2aa1-4ff5-8ad2-8b4db9a3d719,ffa8ef63-a6ed-49c2-8b32-f4bbbba79851
Fiscal Period,,,,,,,,,,,,,,,,,,,,,
2016Q2,18817.660,18081.28,16695.26,29775.20,26022.63,18817.67,27218.23,19780.87,32410.00,22407.83,...,0.00,25509.67,33227.600,17724.57,0.00,25509.64,17374.57,35101.92,17374.57,32410.000
2016Q3,16398.240,15756.64,14548.63,25946.80,22676.71,16398.22,23718.73,17237.43,28243.20,19526.71,...,0.00,18512.72,14854.645,15445.67,0.00,22229.82,15140.90,30588.98,15140.90,18797.870
2016Q4,13710.000,18443.04,12163.60,30370.45,26542.82,19194.00,27762.57,20176.23,33058.47,22855.81,...,0.00,0.00,39168.030,18079.04,0.00,26019.82,17722.36,35804.17,17722.36,0.000
2017Q1,0.000,16005.91,0.00,26357.05,23035.42,16657.59,24094.08,19934.59,28689.82,19835.52,...,0.00,0.00,33992.250,15848.31,11538.46,22581.53,15380.59,31072.88,15380.60,0.000
2017Q2,0.000,18719.68,0.00,30825.76,26941.01,19481.81,28747.03,23314.48,33745.76,23198.57,...,12139.92,0.00,39755.540,18719.68,40384.61,26410.18,18143.38,36341.20,18078.46,0.000
2017Q3,0.000,16045.44,0.00,26422.03,23092.31,16698.70,24640.33,19983.82,29048.16,19884.51,...,22412.16,0.00,34076.180,16045.44,34615.38,22637.28,15728.61,31149.60,15495.79,0.000
2017Q4,0.000,18500.74,0.00,30554.13,26936.80,19203.53,28336.37,23176.07,33405.40,22867.17,...,25773.98,0.00,39187.580,18452.26,39807.69,26252.82,18087.85,35822.04,17820.18,0.000
2018Q1,10159.735,16575.31,0.00,0.00,23558.40,19043.87,24743.14,20386.61,14524.10,19884.51,...,22599.76,24743.20,34218.220,16411.68,11538.46,23768.46,15926.40,31541.60,15624.64,14524.105
2018Q2,24753.680,19386.06,0.00,0.00,27484.80,23314.46,29473.36,23784.36,16993.40,23198.59,...,26865.20,28891.02,39954.360,19386.05,0.00,26941.03,18841.24,36890.00,18574.17,16944.785