In [27]:
import pandas as pd
import numpy as np

In [28]:
dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [29]:
payroll.fillna(0, inplace=True)

In [30]:
payroll.drop(['First Name', 'Last Name', 'Middle Init', 'Bureau', 'Office', 'Office Name', 'Job Title'],axis=1,inplace=True)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,1172,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,1172,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,1172,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [31]:
pr = payroll.loc[payroll['Job Code'] == 1172]
pr

,Fiscal Year,Fiscal Quarter,Fiscal Period,Job Code,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,1172,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,1172,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,1172,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,1172,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,1172,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
...,...,...,...,...,...,...,...,...
234141,2018,1,2018Q1,1172,26268.82,9510272,fb4194e5-0b14-4019-b0eb-7eae796c8cc4,08/21/1997
234146,2018,2,2018Q2,1172,28039.76,9509780,4fca97bc-ed5d-4ab9-b130-d0587d222594,03/29/1993
234177,2018,1,2018Q1,1172,23247.67,9509854,21703b65-7357-45b0-a256-cc06393750d5,08/09/2004
234179,2018,2,2018Q2,1172,25252.64,9509965,c3b70364-77a0-4300-be9f-11bf5e869c87,02/14/2000
234294,2018,2,2018Q2,1172,19001.95,9510048,ac4574b1-d301-44a7-a220-d3aafb5e9ec3,01/28/2013

In [32]:
len(pr.axes[0])
pr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7603 entries, 0 to 234294
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fiscal Year          7603 non-null   int64
 1   Fiscal Quarter       7603 non-null   int64
 2   Fiscal Period        7603 non-null   object
 3   Job Code             7603 non-null   int64
 4   Base Pay             7603 non-null   float64
 5   Position ID          7603 non-null   int64
 6   Employee Identifier  7603 non-null   object
 7   Original Hire Date   7603 non-null   object
dtypes: float64(1), int64(4), object(3)
memory usage: 534.6+ KB

In [33]:
_index = payroll['Job Code'].unique()
_ids = []

try:
  with open('../Datasets/ids.txt', "r") as f:
    arr =[]
    for line in f:
       arr.append(int(line))
    print(arr)
except:
  for _id in _index:
      counts = len(payroll.groupby(['Job Code']).get_group(_id))
      if counts > 1000:
          sid = str(_id)
          _ids.append(sid)
          
  with open('../Datasets/ids.txt', 'w') as f:
    for _id in _ids:
      f.write('%s\n' % _id)
finally:
   f.close()

[1172, 1942, 1360, 2051, 48, 1794, 50, 1941, 51, 1328, 1570, 1966, 906, 551, 5425, 2143, 6824, 1333, 1341, 907, 4826, 1355, 47, 4220, 605, 2412, 606, 46, 11, 1567, 1339, 1, 936, 1878, 5296, 671, 1361, 2451]

In [34]:
pr = pr.sort_values(by=['Employee Identifier'], ascending=True)

In [35]:
fiscal = pd.pivot_table(pr, values='Base Pay', index=['Fiscal Period'], columns='Employee Identifier')
fiscal

Employee Identifier,007ca4de-de2b-44ac-bf71-6eb4cbdc27e2,00d20c14-93d4-4560-a10d-3e41c1fafd07,00d3e7d2-9397-4a16-a556-80056ebbf456,00e833c8-ecbf-4e2c-9b66-9472d1949d79,01143446-4dfb-4327-840d-fb8b88fe78c3,0163b34b-b1d9-4b9c-aa9e-90df3b8fd9af,017d1eb1-6574-48f1-9bd9-536eb23a2219,019f5fbb-4afd-4bd7-a254-eb03660a979f,01ee96aa-5bdb-4694-b3cb-be2a2960a4d2,028d2bca-7dab-4294-a9fc-f4371956438b,...,feafd46f-ba8a-41c0-b72e-0cc961d66b01,feb07f2b-e7cd-40ec-9b95-103ef2246d6c,febdb26a-8424-438a-8a5d-fbc3c17d1ab5,fecb6d8c-da1b-4752-a4d4-14de89f24c46,feccda27-41c4-475e-8f78-cc16adff92b2,fef3a6ad-266b-44b5-96f5-2952dc364b38,ff131ab6-ce88-43ad-b6c1-64507471dc08,ff3dd422-b4e5-4b17-87be-23a558efb62e,ff9f0a14-2aa1-4ff5-8ad2-8b4db9a3d719,ffa8ef63-a6ed-49c2-8b32-f4bbbba79851
Fiscal Period,,,,,,,,,,,,,,,,,,,,,
2016Q1,16129.410,15498.23,7155.09,25521.60,22305.11,16129.41,23329.89,16954.99,27780.00,19206.72,...,NaN,21865.41,28480.800,15192.49,NaN,21865.39,14892.48,30087.41,14892.49,27780.000
2016Q2,18817.660,18081.28,16695.26,29775.20,26022.63,18817.67,27218.23,19780.87,32410.00,22407.83,...,NaN,25509.67,33227.600,17724.57,NaN,25509.64,17374.57,35101.92,17374.57,32410.000
2016Q3,16398.240,15756.64,14548.63,25946.80,22676.71,16398.22,23718.73,17237.43,28243.20,19526.71,...,NaN,18512.72,14854.645,15445.67,NaN,22229.82,15140.90,30588.98,15140.90,18797.870
2016Q4,13710.000,18443.04,12163.60,30370.45,26542.82,19194.00,27762.57,20176.23,33058.47,22855.81,...,NaN,NaN,39168.030,18079.04,NaN,26019.82,17722.36,35804.17,17722.36,NaN
2017Q1,NaN,16005.91,NaN,26357.05,23035.42,16657.59,24094.08,19934.59,28689.82,19835.52,...,NaN,NaN,33992.250,15848.31,11538.46,22581.53,15380.59,31072.88,15380.60,NaN
2017Q2,NaN,18719.68,NaN,30825.76,26941.01,19481.81,28747.03,23314.48,33745.76,23198.57,...,12139.92,NaN,39755.540,18719.68,40384.61,26410.18,18143.38,36341.20,18078.46,NaN
2017Q3,NaN,16045.44,NaN,26422.03,23092.31,16698.70,24640.33,19983.82,29048.16,19884.51,...,22412.16,NaN,34076.180,16045.44,34615.38,22637.28,15728.61,31149.60,15495.79,NaN
2017Q4,NaN,18500.74,NaN,30554.13,26936.80,19203.53,28336.37,23176.07,33405.40,22867.17,...,25773.98,NaN,39187.580,18452.26,39807.69,26252.82,18087.85,35822.04,17820.18,NaN
2018Q1,10159.735,16575.31,NaN,NaN,23558.40,19043.87,24743.14,20386.61,14524.10,19884.51,...,22599.76,24743.20,34218.220,16411.68,11538.46,23768.46,15926.40,31541.60,15624.64,14524.105
2018Q2,24753.680,19386.06,NaN,NaN,27484.80,23314.46,29473.36,23784.36,16993.40,23198.59,...,26865.20,28891.02,39954.360,19386.05,NaN,26941.03,18841.24,36890.00,18574.17,16944.785

In [52]:
fd = fiscal.diff()
fd.fillna(0, inplace=True)
fd

Employee Identifier,007ca4de-de2b-44ac-bf71-6eb4cbdc27e2,00d20c14-93d4-4560-a10d-3e41c1fafd07,00d3e7d2-9397-4a16-a556-80056ebbf456,00e833c8-ecbf-4e2c-9b66-9472d1949d79,01143446-4dfb-4327-840d-fb8b88fe78c3,0163b34b-b1d9-4b9c-aa9e-90df3b8fd9af,017d1eb1-6574-48f1-9bd9-536eb23a2219,019f5fbb-4afd-4bd7-a254-eb03660a979f,01ee96aa-5bdb-4694-b3cb-be2a2960a4d2,028d2bca-7dab-4294-a9fc-f4371956438b,...,feafd46f-ba8a-41c0-b72e-0cc961d66b01,feb07f2b-e7cd-40ec-9b95-103ef2246d6c,febdb26a-8424-438a-8a5d-fbc3c17d1ab5,fecb6d8c-da1b-4752-a4d4-14de89f24c46,feccda27-41c4-475e-8f78-cc16adff92b2,fef3a6ad-266b-44b5-96f5-2952dc364b38,ff131ab6-ce88-43ad-b6c1-64507471dc08,ff3dd422-b4e5-4b17-87be-23a558efb62e,ff9f0a14-2aa1-4ff5-8ad2-8b4db9a3d719,ffa8ef63-a6ed-49c2-8b32-f4bbbba79851
Fiscal Period,,,,,,,,,,,,,,,,,,,,,
2016Q1,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.000
2016Q2,2688.250,2583.05,9540.17,4253.60,3717.52,2688.26,3888.34,2825.88,4630.00,3201.11,...,0.00,3644.26,4746.800,2532.08,0.00,3644.25,2482.09,5014.51,2482.08,4630.000
2016Q3,-2419.420,-2324.64,-2146.63,-3828.40,-3345.92,-2419.45,-3499.50,-2543.44,-4166.80,-2881.12,...,0.00,-6996.95,-18372.955,-2278.90,0.00,-3279.82,-2233.67,-4512.94,-2233.67,-13612.130
2016Q4,-2688.240,2686.40,-2385.03,4423.65,3866.11,2795.78,4043.84,2938.80,4815.27,3329.10,...,0.00,-18512.72,24313.385,2633.37,0.00,3790.00,2581.46,5215.19,2581.46,-18797.870
2017Q1,-13710.000,-2437.13,-12163.60,-4013.40,-3507.40,-2536.41,-3668.49,-241.64,-4368.65,-3020.29,...,0.00,0.00,-5175.780,-2230.73,11538.46,-3438.29,-2341.77,-4731.29,-2341.76,0.000
2017Q2,0.000,2713.77,0.00,4468.71,3905.59,2824.22,4652.95,3379.89,5055.94,3363.05,...,12139.92,0.00,5763.290,2871.37,28846.15,3828.65,2762.79,5268.32,2697.86,0.000
2017Q3,0.000,-2674.24,0.00,-4403.73,-3848.70,-2783.11,-4106.70,-3330.66,-4697.60,-3314.06,...,10272.24,0.00,-5679.360,-2674.24,-5769.23,-3772.90,-2414.77,-5191.60,-2582.67,0.000
2017Q4,0.000,2455.30,0.00,4132.10,3844.49,2504.83,3696.04,3192.25,4357.24,2982.66,...,3361.82,0.00,5111.400,2406.82,5192.31,3615.54,2359.24,4672.44,2324.39,0.000
2018Q1,10159.735,-1925.43,0.00,-30554.13,-3378.40,-159.66,-3593.23,-2789.46,-18881.30,-2982.66,...,-3174.22,24743.20,-4969.360,-2040.58,-28269.23,-2484.36,-2161.45,-4280.44,-2195.54,14524.105
2018Q2,14593.945,2810.75,0.00,0.00,3926.40,4270.59,4730.22,3397.75,2469.30,3314.08,...,4265.44,4147.82,5736.140,2974.37,-11538.46,3172.57,2914.84,5348.40,2949.53,2420.680