In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
# read table

dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)

# set default value to 0 for NaN numerical data
numeric_cols = payroll.select_dtypes(include=[np.number]).columns
payroll[numeric_cols] = payroll[numeric_cols].clip(lower=0)


payroll.fillna(0, inplace=True)
payroll['Office'] = payroll['Office'].astype(int)

# define column for 1/4 year discretization
payroll['Fiscal Quarter'] = payroll['Fiscal Quarter']*0.25 - 0.25
payroll['Fiscal Period'] = payroll['Fiscal Year'] + payroll['Fiscal Quarter']

pd.to_datetime(payroll['Original Hire Date'])

# parse hire date to get hire year
payroll['Original Hire Date'] = payroll['Original Hire Date'].str.split('/').str[2]
payroll['Original Hire Date'] = payroll['Original Hire Date'].astype(int)

_work_year = payroll["Fiscal Period"] - payroll['Original Hire Date']

In [3]:
# specify table column included

payroll = payroll[['Fiscal Year', 'Fiscal Period', 'Job Code', 'Job Title', 'Base Pay', 'Position ID', 'Employee Identifier']]

# add Working Year Column
payroll["Working Year"] = _work_year

payroll.head(20)

,Fiscal Year,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Working Year
0,2016,2016.00,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.00
1,2016,2016.25,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.25
2,2016,2016.50,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.50
3,2016,2016.75,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.75
4,2017,2017.00,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,12.00
5,2017,2017.25,1172,Assistant State's Attorney,24473.38,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,12.25
6,2017,2017.50,1172,Assistant State's Attorney,21217.35,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,12.50
7,2016,2016.00,5049,Residential Model Sr Anal III,17770.86,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,18.00
8,2016,2016.25,5049,Residential Model Sr Anal III,20800.67,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,18.25
9,2016,2016.50,5049,Residential Model Sr Anal III,17873.76,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,18.50
10,2016,2016.75,5049,Residential Model Sr Anal III,20904.80,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,18.75
11,2017,2017.00,5049,Residential Model Sr Anal III,18254.40,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,19.00
12,2017,2017.25,5049,Residential Model Sr Anal III,21375.20,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,19.25
13,2017,2017.50,5049,Residential Model Sr Anal III,18626.76,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,19.50
14,2017,2017.75,5049,Residential Model Sr Anal III,21802.46,9500731,f313b1c3-1b1a-4b07-bb75-a8c850a91bac,19.75
15,2016,2016.00,1642,Attending Physician XII,57692.40,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,3.00
16,2016,2016.25,1642,Attending Physician XII,67307.80,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,3.25
17,2016,2016.50,1642,Attending Physician XII,57692.40,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,3.50
18,2016,2016.75,1642,Attending Physician XII,67307.80,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,3.75
19,2017,2017.00,1642,Attending Physician XII,57692.28,1100069,f888af25-5b0d-457a-83cc-3415f03ed7c6,4.00

In [ ]:
# aku gatau kenapa tapi ini error di tempatku pas buat cache jadi run yang bawahnya ini aja

arr = []

try:
    with open('../cache/ids.txt', "r") as f:
        for _id in f:
            arr.append(int(_id))
except:
    if not os.path.exists('../cache'):
        os.mkdir('../cache')
        
    _index = payroll['Job Code'].unique()
    for _id in _index:
        counts = len(payroll.groupby(['Job Code']).get_group(_id))
        if counts > 1000:
            arr.append(str(_id))
    with open('cache/ids.txt', 'w') as f:
        for _id in arr:
            f.write('%s\n' % _id)
    with open('cache/ids.txt', 'r') as f:
        arr = []
        for _id in f:
            arr.append(int(_id)) 
finally:
   f.close()

# :return : <List> arr : list of unique job id

In [4]:
# jadi pake ini buat ngisi arr nya, tp ga ngebuat cache

arr = []

_index = payroll['Job Code'].unique()
for _id in _index:
    counts = len(payroll.groupby(['Job Code']).get_group(_id))
    if counts > 1000:
        arr.append(_id)



# :return : <List> arr : list of unique job id

In [5]:
emps = []
max = 0
for _id in arr:
    df = payroll[payroll['Job Code'] == _id]
    emp_id = df['Employee Identifier'].unique()
    if len(emp_id) > 50:
        l = 75
    else:
        l = len(emp_id)

    for i in range(l):
        for i in range(100):
            _index = np.random.randint(0, l-1)
            if emp_id[_index] not in emps:
                emps.append(emp_id[_index])
                break


len(emps)

2707

In [6]:
df_id = payroll[payroll['Employee Identifier'].isin(emps)]
df_id

,Fiscal Year,Fiscal Period,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Working Year
0,2016,2016.00,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.00
1,2016,2016.25,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.25
2,2016,2016.50,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.50
3,2016,2016.75,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,11.75
4,2017,2017.00,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,12.00
...,...,...,...,...,...,...,...,...
234225,2018,2018.00,1570,Probation Officer II- PSB,13649.92,9514924,f01aa1fa-b791-4a57-b082-1de8559d5fba,34.00
234254,2018,2018.25,606,Assistant Public Defender III,30870.00,9511966,12c5ef30-094f-460d-98f6-3debea6853be,25.25
234259,2018,2018.00,48,Administrative Assistant III,17060.50,9513388,6ab6e3e3-8a44-4d22-8439-fee2ea9f9db6,25.00
234291,2018,2018.25,2051,Pharmacy Tech ARNTE,13964.56,903735,83c847da-1d2a-4a5c-b057-8cc02b2da114,4.25
234294,2018,2018.25,1172,Assistant State's Attorney,19001.95,9510048,ac4574b1-d301-44a7-a220-d3aafb5e9ec3,5.25

In [7]:
up = df_id.drop(['Job Title', 'Employee Identifier'], axis=1)
# X = up[['Job Code', 'Working Year', 'Position ID', 'Fiscal Period', 'Fiscal Year']]
# y = up['Base Pay']

In [8]:
correlation_matrix  = up.corr()
correlation_matrix['Base Pay']

Fiscal Year     -0.032045
Fiscal Period    0.016431
Job Code        -0.135350
Base Pay         1.000000
Position ID      0.132794
Working Year     0.109016
Name: Base Pay, dtype: float64

In [9]:
X = up.drop("Base Pay", axis=1).values
y = up["Base Pay"].values
X

array([[2.016000e+03, 2.016000e+03, 1.172000e+03, 9.510200e+06,
        1.100000e+01],
       [2.016000e+03, 2.016250e+03, 1.172000e+03, 9.510200e+06,
        1.125000e+01],
       [2.016000e+03, 2.016500e+03, 1.172000e+03, 9.510200e+06,
        1.150000e+01],
       ...,
       [2.018000e+03, 2.018000e+03, 4.800000e+01, 9.513388e+06,
        2.500000e+01],
       [2.018000e+03, 2.018250e+03, 2.051000e+03, 9.037350e+05,
        4.250000e+00],
       [2.018000e+03, 2.018250e+03, 1.172000e+03, 9.510048e+06,
        5.250000e+00]])

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
y_test

array([18791.65, 17520.17, 21218.55, ..., 15071.7 , 21164.99,     0.  ])

In [19]:
# MULAI KNN (kalau mau copas, dari sini)
# KNN 15 menit

from scipy.spatial import distance
from collections import Counter

class KNN:
    def __init__(self, k):
        self.k = k
        
    def fit(self, X, y):
        self.X_train = X
        self.y_train = y
    
    def predict(self, X_test):
        final_output = []
        for i in range(len(X_test)):
            d = []
            votes = []
            for j in range(len(X_train)):
                dist = distance.euclidean(X_train[j] , X_test[i])
                d.append([dist, j])
            d.sort()
            d = d[0:self.k]
            for d, j in d:
                votes.append(y_train[j])
            ans = Counter(votes).most_common(1)[0][0]
            final_output.append(ans)
            
        return final_output
    
clf = KNN(2)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [21]:
# accuracy

from sklearn.metrics import r2_score
acc = r2_score(y_test,y_pred)
print(acc*100, '%')

63.118902083586356 %

In [ ]:
# mean absolute error dan variance (kalau perlu)

from sklearn.metrics import mean_absolute_error, explained_variance_score
print(mean_absolute_error(y_test, y_pred))
print(explained_variance_score(y_test, y_pred))


# SELESAI SAMPAI SINI KNN-NYA

In [ ]:
# NYOBA LIBRARY
# KHUSUS UNTUK LIBRARY

from sklearn.model_selection import train_test_split
X_trains, X_tests, y_trains, y_tests = train_test_split(X, y, test_size = 0.2)
y_tests

In [ ]:
# COBA PAKE LIBRARY

from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors = 3)
knn.fit(X_trains,y_trains)
y_preds = knn.predict(X_tests)
knn.score(X_tests, y_tests)

# from sklearn.metrics import mean_absolute_error
# mean_absolute_error(y_test, y_pred)
# def accuracy(y_pred , y_test):
#     count = 0
#     for i in range(len(y_pred)):
#         if y_pred[i] == y_test[i]:
#             count +=1
            
#     return print("Accuracy =", (count/len(y_pred))*100, "%")

# accuracy(y_pred, y_test)

# from sklearn.metrics import mean_absolute_percentage_error
# mean_absolute_percentage_error(y_test, y_pred)

# from sklearn.metrics import explained_variance_score
# explained_variance_score(y_tests, y_preds)

In [ ]:
print(explained_variance_score(y_tests, y_preds))

In [ ]:
# r2 score tapi manual

u = ((y_tests - y_preds)**2).sum()
v = ((y_tests - y_tests.mean())**2).sum()
score = (1 - (u/v))
score

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_tests,y_preds)

In [ ]:
# rata-rata persentase akurasi tiap elemen

acc = []
for i in range(len(y_preds)):
    if (y_tests[i] != 0):
        a = (abs(y_preds[i] - y_tests[i]))/y_tests[i]
        acc.append(a)

mean_acc = sum(acc)/len(acc)            
mean_acc

In [ ]:
# definisi akurasi di sini : jumlah yg sama persis/jumlah total

def accuracy(y_pred , y_test):
    count = 0
    for i in range(len(y_pred)):
        if y_pred[i] == y_test[i]:
            count +=1
            
    return print("Accuracy =", (count/len(y_pred))*100, "%")

accuracy(y_pred, y_test)

In [ ]:
# dari sini kebawah yg errornya 6000an :)

dist = []
for row in X_test:
    d = np.linalg.norm(X_train - row, axis = 1)
    dist.append(d)
dist = np.array(dist)
dist

In [ ]:
k = 3
nearest = np.argsort(dist, axis=1)
nearest = nearest[:, :k]
nearest

In [ ]:
y_nearest = y[nearest]
y_nearest

In [ ]:
y_pred = np.mean(y_nearest, axis=1)
y_pred
# import scipy
# y_pred = scipy.stats.mode(y_nearest, axis=1)[0].flatten()
# y_pred

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test, y_pred)

In [ ]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np

x = df_id['Job Code']
y = df_id['Working Year']
z = df_id['Base Pay']

fig = plt.figure(figsize=(6, 6))
ax = fig.add_subplot(111, projection='3d')
ax.scatter(x, y, z,
           linewidths=1, alpha=.7,
           edgecolor='k',
           s = 200,
           c=z)
plt.show()