In [1]:
import pandas as pd
import numpy as np

In [2]:
dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [ ]:
new_payroll = payroll[['Fiscal Year', 'Fiscal Quarter', 'Fiscal Period', 'Job Code', 'Job Title', 'Base Pay', 'Position ID', 'Employee Identifier', 'Original Hire Date']]
new_payroll.head()

In [ ]:
# set default value to 0 for NaN numerical data
payroll.fillna(0, inplace=True)
payroll['Office'] = payroll['Office'].astype(int)

# define column for 1/4 year discretization
payroll['Fiscal Quarter'] = payroll['Fiscal Quarter']*0.25 - 0.25
payroll['Fiscal Period'] = payroll['Fiscal Year'] + payroll['Fiscal Quarter']

pd.to_datetime(payroll['Original Hire Date'])

# parse hire date to get hire year
payroll['Original Hire Date'] = payroll['Original Hire Date'].str.split('/').str[2]
payroll['Original Hire Date'] = payroll['Original Hire Date'].astype(int)

_work_year = payroll["Fiscal Period"] - payroll['Original Hire Date']

In [ ]:
# specify table column included

payroll = payroll[['Fiscal Year', 'Fiscal Period', 'Job Code', 'Base Pay', 'Position ID', 'Employee Identifier']]

# add Working Year Column
payroll["Working Year"] = _work_year

payroll.head(20)

In [ ]:
group_1172 = payroll.groupby(['Job Code']).get_group(1172)

# grouped1 = group_1172.groupby(['Fiscal Period']).get_group(2016.0)
# grouped2 = group_1172.groupby(['Fiscal Period']).get_group(2016.25)

_sorted = group_1172.sort_values('Employee Identifier')
pd.pivot_table(_sorted, values='Base Pay', index=['Fiscal Period'], columns='Employee Identifier')

In [ ]:
#print(new_payroll.dtypes)

In [ ]:
#cek nilai negatif pada kolom 
#if (new_payroll['Fiscal Year'] < 0).any():
    #print("Kolom 'Fiscal Year' memiliki nilai negatif.")
#else:
    #print("Kolom 'Fiscal Year' tidak memiliki nilai negatif.")

In [ ]:
#cek nilai negatif pada kolom 
#if (new_payroll['Fiscal Quarter'] < 0).any():
    #print("Kolom 'Fiscal Quarter' memiliki nilai negatif.")
#else:
    #print("Kolom 'Fiscal Quarter' tidak memiliki nilai negatif.")

In [ ]:
#cek nilai negatif pada kolom 
#if (new_payroll['Job Code'] < 0).any():
    #print("Kolom 'JC' memiliki nilai negatif.")
#else:
    #print("Kolom 'JC' tidak memiliki nilai negatif.")

In [ ]:
#cek nilai negatif pada kolom 
#if (new_payroll['Base Pay'] < 0).any():
    #print("Kolom 'BP' memiliki nilai negatif.")
#else:
    #print("Kolom 'BP' tidak memiliki nilai negatif.")

In [ ]:
#cek nilai negatif pada kolom 
#if (new_payroll['Position ID'] < 0).any():
    #print("Kolom 'PI' memiliki nilai negatif.")
#else:
    #print("Kolom 'PI' tidak memiliki nilai negatif.")

In [ ]:
#ambil kolom yang bertipe numerik (int, float) aja
#numeric_cols = new_payroll.select_dtypes(include=[np.number]).columns

#cek nilai negatif pada kolom numerik
#neg_cols = (new_payroll[numeric_cols] < 0).any()

#print kolom yang memiliki nilai negatif
#if neg_cols.any():
    #print("Terdapat nilai negatif pada kolom: ", end="")
    #print(", ".join(neg_cols[neg_cols == True].index))
#else:
    #print("Tidak terdapat nilai negatif pada semua kolom numerik.")

In [ ]:
#ambil kolom yang bertipe numerik (int, float) aja
#numeric_cols = new_payroll.select_dtypes(include=[np.number]).columns

#ganti nilai negatif dengan 0
#new_payroll[numeric_cols] = new_payroll[numeric_cols].clip(lower=0)

#cek nilai negatif pada kolom numerik
#neg_cols = (new_payroll[numeric_cols] < 0).any()

#print kolom yang memiliki nilai negatif
#if neg_cols.any():
    #print("Terdapat nilai negatif pada kolom: ", end="")
    #print(", ".join(neg_cols[neg_cols == True].index))
#else:
    #print("Tidak terdapat nilai negatif pada semua kolom numerik.")

In [ ]:
#cek banyak NaN pada kolom-kolom
#new_payroll.isnull().sum()

In [ ]:
#cek nilai NaN setiap kolom
#null_cols = new_payroll.isnull().any()

#print kolom yang memiliki nilai NaN
#if null_cols.any():
    #print("Terdapat nilai NaN pada kolom: ", end="")
    #print(", ".join(null_cols[null_cols == True].index))
#else:
    #print("Tidak terdapat nilai NaN pada semua kolom.")

In [ ]:
#ganti NaN dengan 0
#new_payroll.fillna(0, inplace=True)

In [ ]:
#cek lagi apakah sudah tidak ada NaN
#new_payroll.isnull().sum()

In [ ]:
#negative = new_payroll[['Fiscal Year', 'Fiscal Quarter', 'Job Code', 'Base Pay', 'Position ID']].where(new_payroll[['Fiscal Year', 'Fiscal Quarter', 'Job Code', 'Base Pay', 'Position ID']] < 0, False)

In [ ]:
#negative_rows = negative[negative.notnull()]

In [ ]:
#print(negative_rows)

In [ ]:
#numeric_cols = new_payroll.select_dtypes(include=[np.number]).columns.tolist()

#negative = new_payroll[numeric_cols].where(new_payroll[numeric_cols] < 0, False).applymap(lambda x: x if isinstance(x, bool) else False)

#negative_rows = negative.any(axis=1).index

#print(f"Ada {len(negative_rows)} baris dengan nilai negatif pada kolom numerik:")
#print(negative_rows)

In [ ]:
#payroll['Job Code'].unique()
#payroll.groupby(['Job Code']).get_group(1172)

In [ ]:
#payroll.groupby(['Job Code']).get_group(1172)

In [ ]:
#count = payroll['Job Code'].value_counts()[1172]
#print(count)

In [ ]:
#new_payroll['Job Code'].nunique()

In [ ]:
#new_payroll['Job Code'].unique()

In [ ]:
#_index = new_payroll['Job Code'].unique()

#_ids = []

#for _id in _index:
    #counts = len(new_payroll.groupby(['Job Code']).get_group(_id))
    #if counts > 1000:
        #_ids.append(_id)
        
#print(len(_ids))

In [ ]:
#pd.DataFrame(new_payroll)

In [ ]:
#new_payroll['Job Code'].unique()

In [ ]:
#for val in _ids:
    #new_df = new_payroll[new_payroll['Job Code'] == val]
    #print(f"DataFrame for job code {val}:")
    #display(new_df)