In [1]:
import pandas as pd

In [6]:
dataPayment = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(dataPayment)
payroll.head()

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [8]:
len(payroll["Job Code"].unique())

2382

In [3]:
payroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234299 entries, 0 to 234298
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Fiscal Year          234299 non-null  int64
 1   Fiscal Quarter       234299 non-null  int64
 2   Fiscal Period        234299 non-null  object
 3   First Name           234299 non-null  object
 4   Last Name            234299 non-null  object
 5   Middle Init          140887 non-null  object
 6   Bureau               234299 non-null  object
 7   Office               231115 non-null  float64
 8   Office Name          231115 non-null  object
 9   Job Code             234299 non-null  int64
 10  Job Title            234299 non-null  object
 11  Base Pay             234295 non-null  float64
 12  Position ID          234299 non-null  int64
 13  Employee Identifier  234299 non-null  object
 14  Original Hire Date   234299 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 26.8+ MB

In [4]:
payroll.describe()

,Fiscal Year,Fiscal Quarter,Office,Job Code,Base Pay,Position ID
count,234299.000000,234299.000000,231115.000000,234299.000000,234295.000000,2.342990e+05
mean,2016.829005,2.257381,2268.636778,2236.125622,16795.426916,7.309608e+06
std,0.768902,1.094660,1611.800171,1926.398577,10716.170305,3.745045e+06
min,2016.000000,1.000000,1002.000000,1.000000,-19562.150000,4.700000e+01
25%,2016.000000,1.000000,1239.000000,1172.000000,11490.950000,1.803613e+06
50%,2017.000000,2.000000,1280.000000,1360.000000,15826.420000,9.508001e+06
75%,2017.000000,3.000000,4890.000000,2381.000000,20396.430000,9.516444e+06
max,2018.000000,4.000000,4898.000000,8097.000000,242576.340000,9.935320e+06