In [216]:
import pandas as pd
import numpy as np

In [217]:
payrollData = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(payrollData)
payroll.head(4)

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [238]:
tes1 = payroll["Original Hire Date"]
tes1 = tes1.str.replace("/", "")
tes1 = tes1.str.slice_replace(0, 4, "")
tes2 = payroll["Fiscal Year"]

In [239]:
hireYear = tes1.astype('int')
hireYear

0         2005.0
1         2005.0
2         2005.0
3         2005.0
4         2005.0
           ...
234294    2013.0
234295    1988.0
234296    1985.0
234297    2016.0
234298    2011.0
Name: Original Hire Date, Length: 234299, dtype: float64

In [240]:
fiscalYear = tes2.astype('int')
fiscalYear

0         2016.0
1         2016.0
2         2016.0
3         2016.0
4         2017.0
           ...
234294    2018.0
234295    2018.0
234296    2018.0
234297    2018.0
234298    2018.0
Name: Fiscal Year, Length: 234299, dtype: float64

In [241]:
workYear = fiscalYear - hireYear
workYear

0         11.0
1         11.0
2         11.0
3         11.0
4         12.0
          ...
234294     5.0
234295    30.0
234296    33.0
234297     2.0
234298     7.0
Length: 234299, dtype: float64