In [216]:
import pandas as pd
import numpy as np

In [217]:
payrollData = '../Datasets/Employee_Payroll.csv'
payroll = pd.read_csv(payrollData)
payroll.head(4)

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005

In [218]:
index1 = payroll.loc[payroll['Job Code'] == 1172]
len(index1.axes[0])
index1

,Fiscal Year,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,2016,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20088.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2016,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23436.00,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,2016,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20422.82,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,2016,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23904.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,2017,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,20745.80,9510200,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234141,2018,1,2018Q1,THOMAS,SIMPSON,P,STATES ATTORNEY,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,26268.82,9510272,fb4194e5-0b14-4019-b0eb-7eae796c8cc4,08/21/1997
234146,2018,2,2018Q2,LORRAINE,SCADUTO,J,STATES ATTORNEY,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,28039.76,9509780,4fca97bc-ed5d-4ab9-b130-d0587d222594,03/29/1993
234177,2018,1,2018Q1,SAMARA,COTTER,S,STATES ATTORNEY,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,23247.67,9509854,21703b65-7357-45b0-a256-cc06393750d5,08/09/2004
234179,2018,2,2018Q2,SYLVIE,MANASTER,NaN,STATES ATTORNEY,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,25252.64,9509965,c3b70364-77a0-4300-be9f-11bf5e869c87,02/14/2000
234294,2018,2,2018Q2,NORMA,AMOFA-LOZA,E.,STATES ATTORNEY,1250.0,STATES ATTORNEY,1172,Assistant State's Attorney,19001.95,9510048,ac4574b1-d301-44a7-a220-d3aafb5e9ec3,01/28/2013

In [219]:
# necessity = index1[["Base Pay", "Fiscal Year", "Original Hire Date"]]
# necessity.to_excel(r'C:\Users\zeusp\Documents\Nama Filenya\AI-group-project\Datasets\necessity.xlsx', index=False)

In [232]:
tes1 = index1["Original Hire Date"]
tes1 = tes1.str.replace("/", "")
tes1 = tes1.str.slice_replace(0, 4, "")
tes2 = index1["Fiscal Year"]

In [235]:
hireYear = tes1.astype('float')
hireYear

0         2005.0
1         2005.0
2         2005.0
3         2005.0
4         2005.0
           ...
234141    1997.0
234146    1993.0
234177    2004.0
234179    2000.0
234294    2013.0
Name: Original Hire Date, Length: 7603, dtype: float64

In [236]:
fiscalYear = tes2.astype('float')
fiscalYear

0         2016.0
1         2016.0
2         2016.0
3         2016.0
4         2017.0
           ...
234141    2018.0
234146    2018.0
234177    2018.0
234179    2018.0
234294    2018.0
Name: Fiscal Year, Length: 7603, dtype: float64

In [237]:
workYear = fiscalYear - hireYear
workYear

0         11.0
1         11.0
2         11.0
3         11.0
4         12.0
          ...
234141    21.0
234146    25.0
234177    14.0
234179    18.0
234294     5.0
Length: 7603, dtype: float64